In [1]:
# pip install cx_Oracle (oracle 11g까지)
# pip install oracledb (oracle 12부터 )
# pip install pymysql (MYSQL)
# pip install pandas

import pymysql

conn = pymysql.connect(host='210.121.189.12', port=3306,  user='root', password='mysql', database='devdb', charset='utf8')
cursor = conn.cursor()
sql = "SELECT * FROM PERSONAL"
cursor.execute(sql)
emps = cursor.fetchall()
cursor.description
keys = [desc[0] for desc in cursor.description]
# emp_list = []
# for emp in emps:
#     emp_list.append(dict(zip(keys, emp)))
emp_list = [dict(zip(keys, emp)) for emp in emps]
print(emp_list)
cursor.close()
conn.close()

RuntimeError: 'cryptography' package is required for sha256_password or caching_sha2_password auth methods

In [6]:
import pandas as pd
pd.DataFrame(emp_list)

    EMPNO   ENAME        JOB     MGR   HIREDATE     SAL    COMM  DEPTNO
0    7369   SMITH      CLERK  7902.0 1980-12-17   800.0     NaN      20
1    7499   ALLEN   SALESMAN  7698.0 1981-02-20  1600.0   300.0      30
2    7521    WARD   SALESMAN  7698.0 1981-02-22  1250.0   500.0      30
3    7566   JONES    MANAGER  7839.0 1981-04-02  2975.0     NaN      20
4    7654  MARTIN   SALESMAN  7698.0 1981-09-28  1250.0  1400.0      30
5    7698   BLAKE    MANAGER  7839.0 1981-05-01  2850.0     NaN      30
6    7782   CLARK    MANAGER  7839.0 1981-06-09  2450.0     NaN      10
7    7788   SCOTT    ANALYST  7566.0 1982-12-09  3000.0     NaN      20
8    7839    KING  PRESIDENT     NaN 1981-11-17  5000.0     NaN      10
9    7844  TURNER   SALESMAN  7698.0 1981-09-08  1500.0     0.0      30
10   7876   ADAMS      CLERK  7788.0 1983-01-12  1100.0     NaN      20
11   7900   JAMES      CLERK  7698.0 1981-12-03   950.0     NaN      30
12   7902    FORD    ANALYST  7566.0 1981-12-03  3000.0     NaN      20
13   7934  MILLER      CLERK  7782.0 1982-01-23  1300.0     NaN      10