In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input{font-family:Consolas; font-size:12pt;}
div.prompt {min width:70px;}
div#toc-wrapper {padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe {font-size:12px;}
</style>
"""))

<b><font size="6" color="red">ch02. 자료형과 연산자</font></b>
# 5절 연산자
## 5.1 산술연산자 : +, -, *, /(결과 float), //(몫), %(나머지), **(제곱)

In [8]:
print("10*5승 =", 10**5)
print("4/2(결과 실수) =", 4/2)
print("5//2(몫) =", 5//2)
print("5%2(나머지) =", 5%2)

10*5승 = 100000
4/2(결과 실수) = 2.0
5//2(몫) = 2
5%2(나머지) = 1

In [7]:
# 정수끼리 연산은 결과가 정수(단 / 제외)
# 정수와 실수, 실수끼리 연산 결과는 실수
print("4**2 =", 4**2)

4**2 = 16

# Quiz
### 1. 정수를 입력받아 짝수인지 홀수인지 여부를 출력

In [10]:
num = int(input("정수를 입력해주세요: "))
result = num % 2 #-1, 0, 1
if result:
    temp = "홀수"
else:
    temp = "짝수"
print("입력하신 수는 {}, 2로 나눈 나머지는 {} {}를 입력하셨습니다".format(num, result, temp))

정수를 입력해주세요: 4
입력하신 수는 4, 2로 나눈 나머지는 0 짝수를 입력하셨습니다

### 2. 정수를 입력받아 5의 배수인지 여부를 출력

In [11]:
num = int(input("정수를 입력해주세요: "))
result = num % 5
if (result):
    temp = "아닙니다"
else:
    temp = "맞습니다"
    
print("입력하신 수는 {}, 5로 나눈 나머지는 {}기 때문에 5의 배수가 {}".format(num, result, temp))

정수를 입력해주세요: 13
입력하신 수는 13, 5로 나눈 나머지는 3기 때문에 5의 배수가 아닙니다

### 국, 영, 수 점수를 입력받아 다음셀에서 다음과 같이 출력하도록 구현하시오
<font size='3'>국어: 99 \t 영어: 100 \t 수학: 99\
총점:298 \t 평균: 99.3</font>

In [16]:
kor = int(input("국어 점수를 입력해주세요: "))
eng = int(input("영어 점수를 입력해주세요: "))
math = int(input("수학 점수를 입력해주세요: "))
total = kor + eng + math
average = total/3
print("국어 : {:3d}\t영어 : {:3d}\t수학 : {:3d}".format(kor,eng,math))
print("총점 : {:3d}\t평균 : {:5.1f}".format(total, average))

국어 점수를 입력해주세요: 99
영어 점수를 입력해주세요: 100
수학 점수를 입력해주세요: 100
국어 :  99	영어 : 100	수학 : 100
총점 : 299	평균 :  99.7

## 5.2 할당 연산자 : =, +=, -=, /=, *=, //=, %=

In [20]:
a = 10
a += 5 # a = a + 5와 동일
print(f"a={a}")

a=15

In [21]:
a -= 5 # a = a -5와 동일
print(f"a={a}")
a *= 10 # a = a*10와 동일
print ("10배 :", a)
a //= 5 # a = a//5와 동일
print("5 나눈 몫 :", a)

a=10
10배 : 100
5 나눈 몫 : 20

## 5.3  논리연산자 : &/and, |/or, not

In [26]:
# & : 논리연산자, 비트연산자
print((10>3) & (10>5)) #논리연산 True & True
print(12 & 1) #비트연산 1 1 0 0 (12)
                #      0 0 0 1 (1)
                #      0 0 0 0

True
0

In [29]:
# and : 무조건 논리연산자, False로 판별되는 첫번째 창의 결과 변환
        # 모든 항이 True면, 마지막 향의 결과 반환
print((10>3) and (10>5)) #논리연산
print(12 and 1) #논리연산
print(0 and 1)

True
1
0

In [38]:
# | : 논리연산, 비트연산
result = True | False
print("논리 연산(연산자 앞뒤에 논리형일 때) : ", result)
result = False | 3 # 0000 (False)
                # 0011 (3)
                # 0011 (결과값)
print("비트연산(연산자 앞이나 뒤에 숫자일 때) :", result)

논리 연산(연산자 앞뒤에 논리형일 때) :  True
비트연산(연산자 앞이나 뒤에 숫자일 때) : 3

In [ ]:
# or : 무조건 논리연산 True로 판별되는 첫번째 항의 결과 반환
            # 모든 항이 False면 마지막 항의 결과 반환
print (False or 0 or '' or None or [])
print (False or 0 or 'Hong' or None or [])

In [39]:
not 10>5

False

## 5.4 비교연산자 : >, >=, <, <=, ==(같다), !=(다르다)

In [41]:
# 비교연산자는 이항, 삼항, 사항, ...., 다항연산자
x = 95
print((90 <= x) & (x <= 100)) # 이항 연산자
print(90 <= x <= 100) #파이썬의 경우 다항연산자가 가능하기에 삼항 연산자도 가능하고 그 이상도 가능하다

True
True

In [43]:
# 논리연산자의 우선순위가 비교연산자의 우선순위보다 높다
print( (10 > 5) & (10 > 7) )
print( 10 > 5 & 10 > 7 ) # 논리 연산자(and/or 제외)의 우선 순위가 높기에 5 & 10 부터 계산 (5 & 10 = 0)
                        # 10 > 5 & 10 > 7 은 10 > 0 > 7 과 동일한 연산식이 된다

True
False

In [44]:
address = "목동"
age = 29
print((address == "목동") & (age < 30))
print(address == "목동" and age < 30) # and나 or의 경우 비교 연산자의 우선순위가 높다

True

In [45]:
print("김길동" < "홍길동") # string 역시 비교가 가능하다 (ASCII 코드 순으로 비교 가능, 특수문자 < 숫자 < 대문자 < 소문자 순)
print("scott" < "tiger")

True
True

## 5.5 비트연산 : &, |, ^(XOR), ~(반대)

# 연습문제
### 1. 이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화하세요 [출력형식: 홍길동님의 나이는 23살입니다]

In [ ]:
name = "홍길동"
age = 23

print ("{}님의 나이는 {}입니다".format(name,age))

### 2. 두 정수를 입력받아 두 수의 덧셈, 뺄셈, 곱셈, 나눗셈, 몫, 나머지를 출력하세요

In [ ]:
input_1 = int(input("첫번째 정수를 알려주세요: "))
input_2 = int(input("두번째 정수를 알려주세요: "))
print("덧셈 : ", input_1+input_2)
print("뺄셈 : ", input_1-input_2)
print("곱셈 : ", input_1*input_2)
if (input_2 == 0):
    print("나눗셈: 분모(두번째 정수)가 0입니다 다른 수를 선택해주세요")
else :
    print("나눗셈: ", input_1/input_2)
    print("몫 : ", input_1//input_2)
    print("나머지 : ", input_1 % input_2)

### 3. 문자열의 분리하기와 합치기 기능을 이용하여 'Hello World'가 할당된 변수를 이용하여 'World Hello'로 출력하세요

In [ ]:
string = "Hello World"
hello, world = string.split()
print(world, hello)

### 4. x='abcdef'를 이용하여 'bcdefa'로 출력하세요 (문자 슬라이싱이용).

In [ ]:
x='abcdef'
print(x[1:]+x[0])

### 5. x='abcdef'를 이용하여 'fedcba'로 출력하세요

In [ ]:
x='abcdef'
print(x[::-1])

### 6. 오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요. 화씨 돈도는 소수점이 있을 경우만 두번째 자리까지 출력되고, 소수점 이하 값이 없는 경우 소수점을 출력 하지 않도록 합니다. (다음은 섭씨와 화씨의 변환 공식입니다. C는 섭씨, F는 화씨)
- C = (F-32) / 1.8
- F = (C*1.8) + 3.2

In [ ]:
C = float(input("오늘의 섭씨온도를 알려주세요: "))
F = (C*1.8) + 3.2
print("오늘의 섭씨 온도는: {:0.2f}, 화씨 온도는: {:0.2f}".format(C, F))

### 7. 다음 중 변수 선언으로 잘못된 것을 모두 고르시오?
<font size='4'>1. for\
2. 10th\
3. Student.name\
4. _1234 </font>

<font size='3'> 1,2,3\
for : 예약어는 변수 이름으로 불가\
10th : 변수는 항상 문자로 시작\
Student.name : .은 변수 이름으로 사용 불가
</font>

### 8. 다음의 코드의 실행 결과는?

<font size='4'> text = "Seoul A001 - programming with python"\
print(text[:4]+text[-1]+text.split()[0])\
print(text[:4], text[-1], text.split()[0]) </font>

<font size="3">SeounSeoul\
Seou n Seoul</font>

### 9. 다음 중 파이썬 3.x 버전에서 연산식과 그 결과의 출력이 잘못된 것은?
<font size='4'>1. 수식 8//2 결과 4\
2. 수식 8/2 결과 4\
3. 수식 8 **2 결과 64 </font>

<font size="3">2번 나눗셈의 경우 float이 결과값으로 출력되기 때문에 4가 아니라 4.0이 올바른 출력값입니다</font>

### 10. 아래 프로그램의 결과는?
<font size='4'>x = 5\
y = "John"\
print (x+y) </font>

<font size="3">정수와 문자의 덧셈을 하려하였기에 Error가 나옵니다</font>

### 11. split() 함수를 이용하여 str_의 값 중 " 나라 "를 출력하는 프로그램을 완성하시오
<font size='4'>str_ = "우리 나라 대한 민국" </font>

In [ ]:
str_="우리 나라 대한 민국"
print(str_.split()[1])