In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input{font-family:Consolas; font-size:12pt;}
div.prompt {min width:70px;}
div#toc-wrapper {padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe {font-size:12px;}
</style>
"""))

<b><font size="6" color="red">ch03. 데이터 구조</font></b>
- 리스트[1,2], 튜플(1,2), 딕셔너리{'name': "홍", 'score':99}, 셋{10,20}

# 1절. 리스트
## 1.1 리스트 만들기
- []를 이용해서 만들며, 여러개 값(여러 타입)을 하나의 변수에 저장/관리 할수 있음
- list() 함수 이용 가능
- 인덱스 : 각 요소의 위치, 인덱스는 0부터 시작. 맨마지막 인덱스는 -1
- 슬라이싱([from:to:step]) : 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 쓰기와 읽기 지원

In [2]:
fruits = 'banana'
fruits = ['banana', 'apple', 'orange', 'grape']
print(type(fruits))

<class 'list'>

In [4]:
print(fruits)
print(fruits[0]) # 인덱싱을 이용한 읽기
#print(Fruits[4]) # 없는 인덱싱시 에러

['banana', 'apple', 'orange', 'grape']
banana

In [6]:
fruits[0] = "mango" # 인덱싱을 이용한 쓰기
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [8]:
fruits = ['mango', 'apple', 'orange']
x, y, z = ['mango', 'apple', 'orange']
print("x={}".format(x))
print(f"y={y}")
print(f"z={z}")

x=mango
y=apple
z=orange

In [10]:
3 #range(from, to, by) : from부터 to앞까지 by씩 증가하는 나열 가능한 자료
    # 숫자를 순차적으로 사용할 수 있게
    # from 생략시 0, by 생략시 1, to는 생략 불가능
    
range(0,10,1)
range (10) #두 식은 동일한 식이다
            # [0,2,,3,4,5,6,7,8,9]
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
print(list(range(10,-1,-1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [14]:
for i in range(0, 10, 1):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [17]:
# print("{}번째 과일은 {}".format(0, fruits[0]))
# print("{}번째 과일은 {}".format(1, fruits[1]))
# print("{}번째 과일은 {}".format(2, fruits[2]))


for i in range(len(fruits)):
    print("{}번째 과일은 {}".format(i, fruits[i]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [18]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange')]

In [20]:
for i,fruit in enumerate(fruits):
    print(f"{i}번째 과일은 {fruit}")

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange

In [21]:
for fruit in fruits:
    print(f"{fruits}입니다")

['mango', 'apple', 'orange']입니다
['mango', 'apple', 'orange']입니다
['mango', 'apple', 'orange']입니다

In [23]:
# 리스트는 여러 타입의 데이터를 담을 수 있음
numbers = [0, True, "2", [2,3], [4,5,6]]
numbers[2], numbers[4][1]

('2', 5)

In [24]:
# 2차원 리스트
numbers = [1, 2, 3, 4, 5]
numbers_2d = [[  1,  2,  3,  4,  5],         # 0행
              [ 10, 20, 30, 40, 50],         # 1행
              [  1,  3,  5,  7,  9],         # 2행
              [  2,  4,  6,  8, 10]]         # 3행
            #  0열  1열  2열 3열 4열
print(numbers_2d)

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50], [1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [25]:
#특정행, 특정열 데이터 인덱싱
numbers_2d[1][4]

50

In [26]:
print(len(numbers_2d), len(numbers_2d[0]))

4 5

In [32]:
for row in numbers_2d:
    for item in row:
        print("{:2}".format(item), end="\t")
    print()

 1	 2	 3	 4	 5
10	20	30	40	50
 1	 3	 5	 7	 9
 2	 4	 6	 8	10

In [37]:
for i in range(len(numbers_2d)):
    for j in range(len(numbers_2d)):
        print(f"{i}행 {j} 열 : {numbers_2d[i][j]}", end="\t")
    print()

0행 0 열 : 1	0행 1 열 : 2	0행 2 열 : 3	0행 3 열 : 4
1행 0 열 : 10	1행 1 열 : 20	1행 2 열 : 30	1행 3 열 : 40
2행 0 열 : 1	2행 1 열 : 3	2행 2 열 : 5	2행 3 열 : 7
3행 0 열 : 2	3행 1 열 : 4	3행 2 열 : 6	3행 3 열 : 8

In [35]:
len(numbers_2d), len(numbers_2d[0]), len(numbers_2d[1]), len(numbers_2d[2])

(4, 5, 5, 5)

In [38]:
for i, row in enumerate(numbers_2d):
    for j, item in enumerate(numbers_2d[i]):
        print(f"{i}행 {j} 열 : {item}", end="\t")
    print()

0행 0 열 : 1	0행 1 열 : 2	0행 2 열 : 3	0행 3 열 : 4	0행 4 열 : 5
1행 0 열 : 10	1행 1 열 : 20	1행 2 열 : 30	1행 3 열 : 40	1행 4 열 : 50
2행 0 열 : 1	2행 1 열 : 3	2행 2 열 : 5	2행 3 열 : 7	2행 4 열 : 9
3행 0 열 : 2	3행 1 열 : 4	3행 2 열 : 6	3행 3 열 : 8	3행 4 열 : 10

## 1.2 기본정보 조회

In [39]:
numbers = [1,12,3,4,5]
numbers_2d = [[100,0,1],
             [9,100,100],
             [59,100,130]]

In [41]:
# item 수
len(numbers), len(numbers_2d)

(5, 3)

In [44]:
# 최소값, 최대값
# 2차원 list의 최소/최대값 : 부분리스트 중 첫요소가 가장 작은값/큰값
min(numbers), min(numbers_2d), max(numbers), max(numbers_2d)

(1, [9, 100, 100], 12, [100, 0, 1])

In [46]:
# list의 데이터가 문자일 경우 ASCII 코드값으로 min과 max 적용
fruits = ['mango', 'apple', 'orange']
min(fruits), max(fruits)

('apple', 'orange')

In [51]:
# 정렬하기
numbers = [1,12,3,4,5]
print("오른차순 정렬 :", sorted(numbers))
print("내림차순 정렬 :", sorted(numbers, reverse=True))
print("합 :", sum(numbers))
print("평균 :", sum(numbers)/len(numbers))
print("sorted 함수 사용시 리스트의 내용이 바뀌지 않음 :", numbers)

오른차순 정렬 : [1, 3, 4, 5, 12]
내림차순 정렬 : [12, 5, 4, 3, 1]
합 : 25
평균 : 5.0
sorted 함수 사용시 리스트의 내용이 바뀌지 않음 : [1, 12, 3, 4, 5]

## 1.3 요소추가
- \+ : 두 리스트 연결
- \* : 리스트를 곱한 수만큼 반복
- append() : 요소 맨 뒤에 추가
- extend(리스트) : 리스트를 요소별로 맨 뒤에 추가
- insert(idx, 값) : idx번째 인덱스 위치에 값 추가

In [53]:
numbers = [1,2,3]
numbers = numbers + numbers #리스트 연결
numbers

[1, 2, 3, 1, 2, 3]

In [56]:
numbers = [1,2,3]
print(numbers*3) #곱한 수만큼 반복
print(3*numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [57]:
numbers.append(4) #맨 뒤에 4 추가
numbers

[1, 2, 3, 4]

In [58]:
numbers.append([5,6,7]) # 맨 뒤 요소에 [5,6,7] 추가 (하나의 요소로)
numbers

[1, 2, 3, 4, [5, 6, 7]]

In [60]:
numbers = [1,2,3]
numbers.extend([4,5,6]) # 맨 뒤에 요소별로 4, 5, 6 각각 추가
numbers

[1, 2, 3, 4, 5, 6]

In [61]:
lst = ['a', 'b','c']
lst.append('d')
lst

['a', 'b', 'c', 'd']

In [62]:
lst.append("hello")
lst

['a', 'b', 'c', 'd', 'hello']

In [63]:
lst.extend("hello")
lst

['a', 'b', 'c', 'd', 'hello', 'h', 'e', 'l', 'l', 'o']

In [64]:
numbers = [1,2,3,4,5]
numbers.insert(1, 'xx') # 1번째 인덱스에 'xx' 추가
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4 인덱싱과 요소 갯수
- 리스트변수[index] : 인덱스를 이용한 접근
- 리스트변수.index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index 반환
- 찾을데이터 in 리스트변수 :찾을데이터가 리스트변수에 요소인지 여부
- count(찾을데이터) : 리스트에서 해당 찾을데이터의 갯수를 반환

In [67]:
numbers = [1, 2, 3, [1,2,3], 1, 2, 3]
numbers.count(2), numbers.count([1,2,3]), numbers.count(5)

(2, 1, 0)

In [69]:
print(2 in numbers) # 2가 numbers의 요소인지 여부
print(5 in numbers) # 5가 numbers의 요소인지 여부

True
False

In [72]:
numbers.index(5)

ValueError: 5 is not in list

In [73]:
if 5 in numbers:
    print(numbers.index(5))
else:
    print("5가 요소에 포함되지 않습니다")

5가 요소에 포함되지 않습니다

In [ ]:
if numbers.count(5):
    print(numbers.index(5))
else:
    print("5가 요소에 포함되지 않습니다")

In [78]:
def safe_index(lst, item):
    '''
    첫번째 매개변수 lst에서 item 요소가 있는 index를 반환.
    item 요소가 없으면 -1을 반환
    lst: 요소를 찾고 싶은 리스트
    item: 찾고 싶은 값
    '''
    if item in lst:
        return(lst.index(item))
    return -1

In [3]:
from lst import safe_index #lst.py(모듈) 안의 safe_index를 메모리에 load
numbers = [1,2,3]
safe_index(numbers, 2), safe_index(numbers, 5)

(1, -1)

In [4]:
numbers[5] # 벗어난 인덱싱 시 에러

IndexError: list index out of range

In [5]:
numbers[2:5] # 벗어난 인덱스로 슬라이싱 시 에러가 안 남

[3]

## 1.5 원하는 요소 추출
- 1. 리스트 슬라이싱
    - [from:to:step] from번째 부터 to앞까지 step씩 증가하는 index값을 추출
        - from 생략시 처음, to 생략시 끝, step 생략시 1
    - 인덱스의 범위를 벗어난 값도 에러나지 않음
    - 인덱스는 음수 가능

- 2. **리스트컴프리핸션** : 원하는 조건의 데이터를 추출

In [9]:
numbers = [1, 3, 5, 9, 10, 12, 13, 18, 19, 20]
print(numbers[::-1]) # 거꾸로 출력
print(numbers[::2]) # 짝수 index 값 출력
print(numbers[2:100]) # 인덱스를 벗어난 슬라이싱 가능

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]
[1, 5, 10, 13, 19]
[5, 9, 10, 12, 13, 18, 19, 20]

In [11]:
# 모든 데이터 추출
# for data in numbers:
#     print(data, end="\t")
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 18, 19, 20]

In [16]:
# 짝수 데이터 추출
# for data in numbers:
#     if data % 2 == 0:
#         print(data, end=" ")
[data for data in numbers if data%2 == 0]

[10, 12, 18, 20]

In [17]:
# ex1) numbers에서 10 이상인 요소만 추출
[data for data in numbers if data>=10]

[10, 12, 13, 18, 19, 20]

In [18]:
# ex2) fruits에서 과일의 글자가 5글자 이상인 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[data for data in fruits if len(data)>=5]

['orange', 'apple', 'mango']

In [19]:
#ex2-1) fruits 리스트의 과일 글자수
[len(data) for data in fruits]

[6, 5, 5, 4]

In [23]:
#ex3. 3이상인 요소들의 제곱을 추출:
L = [1,2,3,4,5]
[data**2 for data in L if data >=3]

[9, 16, 25]

In [22]:
#ex4. 리스트 요소의 값의 2배를 추출
[2*data for data in L]

[2, 4, 6, 8, 10]

## 1.6 요소 수정하기
- 인덱스, 슬라이싱을 이용해서 수정

In [26]:
# 인덱스를 이용하여 수정
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[2] = 222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [27]:
# 슬라이싱(step부분 미포함)을 이용하여 부분 리스트를 통째로 수정
numbers[:2] = ['xx','xx','xx','xx','xx','xx','xx']
numbers

['xx', 'xx', 'xx', 'xx', 'xx', 'xx', 'xx', 222, 3, 4, 5, 6, 7, 8, 9]

In [29]:
# 슬라이싱(step부분 포함)을 이용하여 부분 수정시 요소 갯수 맞아야 함
numbers = [0]*10
print('수정전 :', numbers)
numbers[::2] = [9,9,9,9,9]
print('수정후 :', numbers)

수정전 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정후 : [9, 0, 9, 0, 9, 0, 9, 0, 9, 0]

## 1.7 요소삭제
- pop() : 가장 마지막 인덱스의 요소가 반환되고 삭제
- pop(idx) : idx 번째 요소가 반환되고 삭제
- remove(data) : list 안의 data가 삭제, data가 없을 경우 에러
- del 리스트변수[idx] : idx번째 요소 삭제 (반환 x)
- clear() : 모든 요소를 삭제

In [38]:
numbers = [1,2,3,4,5]
print("삭제한 데이터 :", numbers.pop())
print("삭제 후 numbers :", numbers)
print("1번째 삭제한 데이터 :", numbers.pop(1))
print("1번째 삭제 후 numbers :", numbers)
numbers.remove(1)
print("데이터 1 삭제 후 number :", numbers)
print("del numbers[1]")
del numbers[1]
print(numbers)

삭제한 데이터 : 5
삭제 후 numbers : [1, 2, 3, 4]
1번째 삭제한 데이터 : 2
1번째 삭제 후 numbers : [1, 3, 4]
데이터 1 삭제 후 number : [3, 4]
del numbers[1]
[3]

In [39]:
if 9 in numbers:
    numbers.remove(9)
else:
    print("해당 데이터는 없는 item 입니다")

해당 데이터는 없는 item 입니다

In [40]:
numbers.clear() # 모든 요소를 삭제
numbers

[]

## 1.8 정렬하기

In [45]:
numbers = [9, 5, 0, 8, 6]
print("numbers는 변경하지 않고, 정렬결과 :", sorted(numbers))
print("numbers : ", numbers)

numbers는 변경하지 않고, 정렬결과 : [0, 5, 6, 8, 9]
numbers :  [9, 5, 0, 8, 6]

In [44]:
numbers.sort() # numbers 자체가 오름차순 정렬한 결과로 바꿈
print("numbers.sort() 후 numbers:", numbers)

numbers.sort() 후 numbers: [0, 5, 6, 8, 9]

In [46]:
numbers.sort(reverse=True) # numbers 자체가 내림차순 정렬한 결과로 바꿈
print("numbers.sort(reverse=True) 후 numbers:", numbers)

numbers.sort(reverse=True) 후 numbers: [9, 8, 6, 5, 0]

In [47]:
numbers.reverse() # 리스트를 역순으로 변경 numbers = numbers[::-1] 와 동일
numbers

[0, 5, 6, 8, 9]

## 1.9 리스트 복제

In [50]:
#스칼라 데이터의 복제
i = 10
cp_i = i
print(f"원본i = {i}, 복사본cp_i={cp_i} / 원본주소={id(i)}, 복사본주소={id(cp_i)}")
cp_i = 99
print(f"원본i = {i}, 복사본cp_i={cp_i} / 원본주소={id(i)}, 복사본주소={id(cp_i)}")

원본i = 10, 복사본cp_i=10 / 원본주소=1825245889040, 복사본주소=1825245889040
원본i = 10, 복사본cp_i=99 / 원본주소=1825245889040, 복사본주소=1825245891888

In [53]:
# 할당을 통한 복사 / 얕은 복사
numbers = [5, 6, 1, 9]
new_numbers = numbers
print('원본 주소 :', id(numbers), '복사본 주소 :', id(new_numbers))
new_numbers[0] = 99
print("원본내용 :", numbers, "복제본 내용 :", new_numbers)
print('원본 주소 :', id(numbers), '복사본 주소 :', id(new_numbers))

원본 주소 : 1823218402752 복사본 주소 : 1823218402752
원본내용 : [99, 6, 1, 9] 복제본 내용 : [99, 6, 1, 9]
원본 주소 : 1823218402752 복사본 주소 : 1823218402752

In [56]:
numbers = [5, 6, 1, 9]
new_numbers = numbers
new_numbers.sort()
print("원본내용 :", numbers, "복제본 내용 :", new_numbers)
print('원본 주소 :', id(numbers), '복사본 주소 :', id(new_numbers))

원본내용 : [1, 5, 6, 9] 복제본 내용 : [1, 5, 6, 9]
원본 주소 : 1823218392320 복사본 주소 : 1823218392320

In [57]:
# 리스트 복제 / 깊은 복사
numbers = [5, 6, 1, 9]
new_numbers = numbers.copy() # numbers를 복제 (깊은 복사)
new_numbers.sort()
print("원본내용 :", numbers, "복제본 내용 :", new_numbers)
print('원본 주소 :', id(numbers), '복사본 주소 :', id(new_numbers))

원본내용 : [5, 6, 1, 9] 복제본 내용 : [1, 5, 6, 9]
원본 주소 : 1823218541568 복사본 주소 : 1823218912576

In [60]:
city = ['서울', '대전', '대구', '부산', '하남', '수원', '제주']
temp = city.copy()
temp.sort()
print(f"정렬전 : {city} 정렬후 : {temp}")

정렬전 : ['서울', '대전', '대구', '부산', '하남', '수원', '제주'] 정렬후 : ['대구', '대전', '부산', '서울', '수원', '제주', '하남']

# 2절. 튜플(tuple)
- 리스트([])와 유사하지만 읽기 전용, 수정이 필요없는 데이터에서 사용 (읽기 전용)
- 수정이 불가하므로, 튜플에서 데이터 수정, 추가, 삭제 불가
- 제공되는 함수도 많지 않음
- () 또는 tuple() 함수 이용해서 생성,

In [62]:
city = ('서울', '대전', '대구', '부산', '하남') # city = '서울', '대전', '대구', '부산', '하남' 와 동일
                                            # 파이썬은 여러개의 값이 전달될 때 튜플 타입으로 전달
print(type(city))

<class 'tuple'>

In [63]:
# 매개변수로 list가 오는 함수는 tuple 매개변수로 함수 사용 가능
", ".join(city)

'서울, 대전, 대구, 부산, 하남'

In [64]:
from lst import safe_index
safe_index(city, '대전')

1

In [65]:
l = ['서울'] # 요소가 하나 있는 리스트
print(type(l))
print(l)
print(len(l))

<class 'list'>
['서울']
1

In [67]:
city = ('서울') # 요소가 하나 있는 튜플 (X) -> str이 됨
print(type(city))
print(city)
print(len(city))

<class 'str'>
서울
2

In [68]:
city = ('서울', ) # 요소가 하나 있는 튜플 (O) / ","가 중요
print(type(city))
print(city)
print(len(city))

<class 'tuple'>
('서울',)
1

In [2]:
numbers = (1,2,3)
# numbers.append(4) 수정하기 위한 함수는 제공되지 않음

In [70]:
min(numbers), max(numbers), sum(numbers)

(1, 3, 6)

In [3]:
# tuple 정렬
# numbers.sort() # 사용 불가
sorted(numbers)

[1, 2, 3]

In [71]:
numbers.count(2)

1

In [72]:
numbers.index(3)

2

In [74]:
#numbers.index(3)
if 4 in numbers:
    numbers.index(4)
else:
    print("해당 데이터 없음")

해당 데이터 없음

In [32]:
from lst import safe_index
safe_index(numbers,4)

-1

In [2]:
numbers = (1,2,3,2)
numbers.index(2, 2) # index(찾을데이터, 찾기시작할 index)

3

In [38]:
def safe_index(lst, item, start=0):
    '''
    첫번째 매개변수 lst[start:]에서 item 요소가 있는 index를 반환.
    item 요소가 없으면 -1을 반환
    lst: 요소를 찾고 싶은 iterable(리스트, 튜플)
    item: 찾고 싶은 값
    start: 서치를 시작할 index(기본값: 0)
    '''
    return lst.index(item,start) if (item in lst[start:]) else -1

In [3]:
from lst import safe_index
safe_index(numbers,2,2)

3

In [24]:
# 위의 if 문을 조건식을 이용하여 한줄 코드
def diff(x,y):
#     if (x>y):
#         return x-y
#     else:
#         return y-x
    return x-y if x>y else y-x #if 문이 참일때 취할값 if 조건 else if문 거짓일때 값
    
diff(10,20)

10

In [4]:
numbers = (1,2,3)
print(numbers + numbers) # 연결
print(3 * numbers) # 반복
print(numbers *3)

(1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [9]:
#ex. 짝수 요소들을 추출하여 제곱한 데이터를 튜플로 출력하시오
numbers = (11,2,3,4,5,6)
tuple(num**2 for num in numbers if (num % 2 == 0))

(4, 16, 36)

# 3절. 딕셔너리
- {}를 이용해서 키(key)-값(value)의 쌍으로 구성된 자료구조
- 키는 유일한 값을 가진다 (중복 불가) 키는 list는 사용 불가, 키에 tuple 사용 가능
- 값은 중복 가능. 모든 데이터 타입 가능
- 인덱스를 이용한 참조는 지원 안 함. 키를 이용하여 참조

In [11]:
dic = {'name':'홍길동', 1:22, (1,2):[1,2]}
print(type(dic))
print(dic)

<class 'dict'>
{'name': '홍길동', 1: 22, (1, 2): [1, 2]}

In [12]:
len(dic) #데이터 요소의 갯수

3

In [13]:
my_favorite = {'fruit':'apple', 'number':12, 'sport':'yoga'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'yoga'}

In [15]:
# 변수[키] 또는 변수.get(키) 로 키의 값을 변환
print(my_favorite['fruit'])
print(my_favorite.get('fruit'))

apple
apple

In [18]:
#print(my_favorite['people']) # 키 목록에 없는 데이터를 참조시 에러
print(my_favorite.get('people')) # 없는 키일 경우 get 함수로 참조시 None
print(my_favorite.get('people', '-')) # 없는 키를 get 함수로 참조시 '-'

None
-

## 3.1 딕셔너리 item 수정, 추가, 삭제

In [36]:
my_favorite = {'fruit':'apple', 'number':12, 'sport':'yoga'}
# 한 item씩 추가
my_favorite['people'] = '홍길동'
print('people 추가 후 :', my_favorite)
# 여러 item을 한번에 추가
my_favorite.update({'subject':'수학', 'major':'AI'})
print('한번에 추가 후 :', my_favorite)

# 한 item씩 수정
my_favorite['fruit'] = 'mango'
my_favorite['number'] = -9
print('하나씩 수정 후 :', my_favorite)
# 여러 item을 한번에 수정
#my_favorite.update({'fruit':'kiwi', 'number':-99})
my_favorite.update(fruit='kiwi', number=-99)
print('한번에 수정 후 :', my_favorite)
# item 제거(1)
del my_favorite['subject']
print('del 제거 후 :', my_favorite)
if 'subject' in my_favorite:
    del my_favorite['subject']
else:
    print('subject 키가 존재하지 않습니다')
# item 제거(2)
print("제거한 데이터", my_favorite.pop('major')) # major 키 값을 반환하고 제거
print('major 제거 후 :', my_favorite)
if 'major' in my_favorite:
    print("제거한 데이터", my_favorite.pop('major'))
else:
    print('major 키가 존재하지 않습니다')

people 추가 후 : {'fruit': 'apple', 'number': 12, 'sport': 'yoga', 'people': '홍길동'}
한번에 추가 후 : {'fruit': 'apple', 'number': 12, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}
하나씩 수정 후 : {'fruit': 'mango', 'number': -9, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}
한번에 수정 후 : {'fruit': 'kiwi', 'number': -99, 'sport': 'yoga', 'people': '홍길동', 'subject': '수학', 'major': 'AI'}
del 제거 후 : {'fruit': 'kiwi', 'number': -99, 'sport': 'yoga', 'people': '홍길동', 'major': 'AI'}
subject 키가 존재하지 않습니다
제거한 데이터 AI
major 제거 후 : {'fruit': 'kiwi', 'number': -99, 'sport': 'yoga', 'people': '홍길동'}
major 키가 존재하지 않습니다

## 3.2 출력하기

In [43]:
# for 문을 이용한 튜플 출력
my_tuple = ('홍길동', 30, '010-9999-9999')
for data in my_tuple:
    print(data, end='\t')
print()
for idx in range(len(my_tuple)):
    print(f"인덱스 {idx}의 값: {my_tuple[idx]}", end='\t')
print()
for idx, data in enumerate(my_tuple):
    print(f"인덱스 {idx}의 값: {data}", end='\t')

홍길동	30	010-9999-9999
인덱스 0의 값: 홍길동	인덱스 1의 값: 30	인덱스 2의 값: 010-9999-9999
인덱스 0의 값: 홍길동	인덱스 1의 값: 30	인덱스 2의 값: 010-9999-9999

In [44]:
my_dic = {'name':"홍길동", 'age':30, 'tel':'010-9999-9999'}

In [50]:
for key in my_dic: #비추
    print("{} : {}".format(key, my_dic.get(key)), end='\t')

name : 홍길동	age : 30	tel : 010-9999-9999

In [52]:
print(my_dic.keys()) # 키 목록
print(my_dic.values()) #값 목록
print(my_dic.items()) #(키,값) 튜플 목록

dict_keys(['name', 'age', 'tel'])
dict_values(['홍길동', 30, '010-9999-9999'])
dict_items([('name', '홍길동'), ('age', 30), ('tel', '010-9999-9999')])

In [54]:
for key, value in my_dic.items(): #비추
    print("{} : {}".format(key, value), end='\t')

name : 홍길동	age : 30	tel : 010-9999-9999

In [56]:
for value in my_dic.values():
    print(value, end="\t")

홍길동	30	010-9999-9999

In [57]:
list(enumerate(my_dic.items()))

[(0, ('name', '홍길동')), (1, ('age', 30)), (2, ('tel', '010-9999-9999'))]

In [59]:
for no, (key, value) in enumerate(my_dic.items()):
    print("{}. {:4} : {}".format(no+1, key, value))

1. name : 홍길동
2. age  : 30
3. tel  : 010-9999-9999

## 3.3 in 연산자

In [60]:
# tuple, list
t = (10,20,30)
30 in t # list, tuple, set에서의 in연산자 : 요소(데이터, 아이템)가 있는 여부 반환

True

In [61]:
# dictionary
dic = {'name':'홍길동', 'age':30}
'홍길동' in dic # dictionary에서의 in 연산자 : key가 있는지 여부 반환

False

## 3.4 복제하기

In [65]:
# 할당
my_favorite = {'fruit':'apple', 'number':12}
new_favorite = my_favorite
print("원본 주소 :", id(my_favorite), "복사본 주소 :", id(new_favorite))

원본 주소 : 2349380962048 복사본 주소 : 2349380962048

In [66]:
new_favorite['fruit'] = '과일은 다 좋아'
print("원본 :", my_favorite, "복사본 :", new_favorite)

원본 : {'fruit': '과일은 다 좋아', 'number': 12} 복사본 : {'fruit': '과일은 다 좋아', 'number': 12}

In [67]:
# 복제(깊은 복사)
my_favorite = {'fruit':'apple', 'number':12}
new_favorite = my_favorite.copy()
print("원본 주소 :", id(my_favorite), "복사본 주소 :", id(new_favorite))
new_favorite['fruit'] = '과일은 다 좋아'
print("원본 :", my_favorite, "복사본 :", new_favorite)

원본 주소 : 2349375320960 복사본 주소 : 2349370055744
원본 : {'fruit': 'apple', 'number': 12} 복사본 : {'fruit': '과일은 다 좋아', 'number': 12}

# 4절. 셋
- 중복을 허용하지 않는 집합 (순서x)
- {}나 set() 함수 이용해서 셋 생성 ex. set([1,2,1]), set({'name':'홍길동'})
- 추가 : add(), update()
- 삭제 : remove("삭제할 요소")
- 집합연산자 : &(교집합), |(합집합), -(차집합)

In [ ]:
st = {'name':'홍길동', 'age':30} #딕셔너리
se = {'홍길동', 30} #셋

In [68]:
fruits = {'banana', 'orange', 'apple', 'apple'} #중복 불가능
fruits

{'apple', 'banana', 'orange'}

In [70]:
s1 = set([1,2,3,1,1,1,1,1,1,1,1,1,1,1,1])
s1

{1, 2, 3}

In [72]:
s1 = set((1,2,3,1,1,1,1,1,1,1,1,1,1,1,1))
s1

{1, 2, 3}

In [74]:
# set함수를 이용해서 딕셔너리를 셋으로 전환할 때는 key만 적용
s2 = set({'name':'홍길동', 'age':30, 'address':'서울'})
s2

{'address', 'age', 'name'}

## 4.1 셋 추가하기
- add() : 기본자료형, 튜플 데이터 하나 추가. (list, dic, set 유형은 add() 함수 사용 불가)
- update() : 리스트, 튜플, 딕셔너리, 셋 요소를 하나씩 따로 추가. dict 사용시 key만 추가
    - cf. list의 extend()

In [75]:
s = {1,2,3}
s.add(4)
s.add('오')
s.add((6,7))
print("add() 후 :", s)

add() 후 : {1, 2, 3, 4, (6, 7), '오'}

In [89]:
# 1이 set에 있는 상태에서 True 추가
s = {1,2,3,1,1}
s.add(True)
print("True add 후 :", s) #1이 있기때문에 1을 True라고 판단하여 True가 추가되지 않음

True add 후 : {1, 2, 3}

In [ ]:
#0이 set에 있는 상태에서 False 추가
s = {False, 1, 2}
s.add(0)
print("0 add 후 :", s) #동일한 이유로 False와 0을 동일시 하여 False가 있기에 0을 추가하지 않음

In [77]:
s = {1,2,3}
#s.update([4,5,6])
#s.update((4,5,6))
s.update({4,5,6})
s.update({'name':'홍', 'age':20})
print("update() 후 :", s)

update() 후 : {1, 2, 3, 4, 5, 6, 'age', 'name'}

## 4.2 삭제하기
- remove()

In [90]:
s = {1,2,3,1,1,1}
s.remove(2)
s

{1, 3}

In [93]:
#s.remove(5) #없는 요소를 삭제할 경우 에러
if 5 in s:
    s.remove(5)
else:
    print("해당 데이터는 없습니다")

해당 데이터는 없습니다

# 4.3 집합연산자
- & (교집합), | (합집합), - (차집합)

In [97]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}
print(f"s1 = {s1} \t s2 = {s2}")
print("s1&s2 =", s1&s2)
print("s1|s2 =", s1|s2)
print("s1-s2 =", s1-s2)
print("s2-s1 =", s2-s1)

s1 = {1, 2, 3, 4, 5} 	 s2 = {3, 4, 5, 6, 7}
s1&s2 = {3, 4, 5}
s1|s2 = {1, 2, 3, 4, 5, 6, 7}
s1-s2 = {1, 2}
s2-s1 = {6, 7}

In [117]:
names = {'길동', '길숙', '길자'}
for name in names:
    print(name, end='\t')

길자	길동	길숙

# 5절. enumerate
- 반복자. 반복문을 처리할 때 사용할 순서객체를 생성하는 함수
- 리스트, 튜플, 딕셔너리, 셋을 for문에 사용시

In [107]:
names = {'길동', '길숙', '길자'}
list(enumerate(names))

[(0, '길자'), (1, '길동'), (2, '길숙')]

In [108]:
for no, name in enumerate(names):
    print("{}. {}".format(no+1, name))

1. 길자
2. 길동
3. 길숙

In [109]:
names = ['길동', '길자', '길숙']
tels = ['02-9999-9999', '02-8888-8888', '02-7777-7777']
adds = ['서울', '판교', '하남']

In [112]:
for idx in range(len(names)):
    print("{}. {}님의 연락처는 {}이고, {} 살아요".format(idx+1, names[idx], tels[idx], adds[idx]))

1. 길동님의 연락처는 02-9999-9999이고, 서울 살아요
2. 길자님의 연락처는 02-8888-8888이고, 판교 살아요
3. 길숙님의 연락처는 02-7777-7777이고, 하남 살아요

In [113]:
list(zip(names, tels, adds))

[('길동', '02-9999-9999', '서울'),
 ('길자', '02-8888-8888', '판교'),
 ('길숙', '02-7777-7777', '하남')]

In [116]:
for name, tel, add in zip(names, tels, adds):
    print(f"{name}님의 연락처는 {tel}이고, {add} 살아요")

길동님의 연락처는 02-9999-9999이고, 서울 살아요
길자님의 연락처는 02-8888-8888이고, 판교 살아요
길숙님의 연락처는 02-7777-7777이고, 하남 살아요

In [120]:
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)):
    print(f"{idx+1}. {name}님의 연락처는 {tel}이고, {add} 살아요")b

1. 길자님의 연락처는 02-9999-9999이고, 서울 살아요
2. 길동님의 연락처는 02-8888-8888이고, 판교 살아요
3. 길숙님의 연락처는 02-7777-7777이고, 하남 살아요

In [123]:
members = [] # 딕셔너리 리스트
for name, tel, add in zip(names,tels,adds):
    member = {'name' : name, 'tel' : tel, 'add' : add}
    #print(member)
    members.append(member)
members

[{'name': '길자', 'tel': '02-9999-9999', 'add': '서울'},
 {'name': '길동', 'tel': '02-8888-8888', 'add': '판교'},
 {'name': '길숙', 'tel': '02-7777-7777', 'add': '하남'}]

In [125]:
members = [] # 딕셔너리 리스트
for idx, (name, tel, add) in enumerate(zip(names,tels,adds)):
    member = {'rank' : idx+1, 'name' : name, 'tel' : tel, 'add' : add}
    #print(member)
    members.append(member)
members

[{'rank': 1, 'name': '길자', 'tel': '02-9999-9999', 'add': '서울'},
 {'rank': 2, 'name': '길동', 'tel': '02-8888-8888', 'add': '판교'},
 {'rank': 3, 'name': '길숙', 'tel': '02-7777-7777', 'add': '하남'}]

![변수타입들](https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg)
 <div style="text-align: right;">
(출처: https://pynative.com/python-data-types/)
 </div>

# 연습문제
## 연습문제 (실습형)
- 다음 리스트가 주어졌을 경우 요구사항대로 코드를 작성하시오
- numbers = [1,2,3,4,5,6,7,8,9,10]

### 1. 숫자 100을 맨 뒤에 추가하세요

In [126]:
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers.append(100)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

### 2. 다음 리스트를 numbers리스트 맨 뒤에 추가하세요
- data = [200,300,400,500]

In [129]:
numbers = [1,2,3,4,5,6,7,8,9,10]
data = [200,300,400,500]
numbers += data
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 200, 300, 400, 500]

### 3. 처음 다섯 개 숫자만 출력하세요

In [131]:
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[:5])

[1, 2, 3, 4, 5]

### 4. 리스트에서 짝수 번째 데이터만 출력하세요

In [132]:
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[::2])

[1, 3, 5, 7, 9]

### 5. 짝수번째 데이터를 모두 0으로 바꾸세요

In [134]:
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers[::2] = [0]*5
numbers

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10]

### 6. 데이터를 역순으로 나열하세요 (내림차순 정렬이 아닙니다)

In [138]:
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

<font size="4">다음 딕셔너리 데이터가 주어졌을 경우 요구사항대로 코드를 작성하세요. </font>
- member_info = {"name":"홍길동", "age":20, "address":"서울시 마포구", "score":90}

### 7. address 값을 출력하세요

In [140]:
member_info = {"names" : "홍길동", "age" : 20, "address" : "서울시 마포구", "score" : 90}
print(member_info.get("address"))

서울시 마포구

### 8. score를 출력하고 member_info 딕셔너리에서 삭제하세요.

In [144]:
member_info = {"names" : "홍길동", "age" : 20, "address" : "서울시 마포구", "score" : 90}
if 'score' in member_info:
    print ("score의 값 :", member_info.pop("score"))
else:
    print("score가 없습니다")
print("member_info :", member_info)

score의 값 : 90
member_info : {'names': '홍길동', 'age': 20, 'address': '서울시 마포구'}

### 9. address를 "서울시 서대문구"로 변경하세요.

In [145]:
member_info = {"names" : "홍길동", "age" : 20, "address" : "서울시 마포구", "score" : 90}
member_info['address'] = "서울시 서대문구"
print("member_info :", member_info)

member_info : {'names': '홍길동', 'age': 20, 'address': '서울시 서대문구', 'score': 90}

### 10. member_info 딕셔너리 데이터의 값을 리스트로 출력하세요

In [149]:
print(list(member_info.values()))

['홍길동', 20, '서울시 서대문구', 90]

## 연습문제 (서술형)
### 1. 다음 코드를 실행했을 때 출력되는 것은?
<font size="4"> L1 = ("orange","apple","banana","kiwi") <br>
    new_list = [i for i in L1 if len(i)>5] <br>
    print(new_list)
</font>

<font size="5">['orange', 'banana']</font>

### 2. 다음 코드와 실행결과가 잘못 짝지어진 것은?
<font size="4"> 1. print(list(range(10)))   -[0,1,2,3,4,5,6,7,8,9] <br>
    2. print(list(range(5,10)))             -[5,6,7,8,9] <br>
    3. print(list(range(10,0,-1)))          -[9,8,7,6,5,4,3,2,1,0] <br>
    4. print(list(range(10,20,2)))          -[10,12,14,16,18]
</font>

<font size="5">3번 range(10,0,-1)의 경우 10부터 0앞에까지이기 때문에 [10,9,8,7,6,5,4,3,2,1]이 올바른 출력값입니다</font>

### 3. 다음 구문에 의해 출력되는 것은?
<font size="4"> numbers_2d = [[1,2,3,4,5],[10,20,30,40],[1,3,5],[2,]] <br>
    len(numbers_2d[3])
</font>

<font size="5">1</font>

### 4. 다음 코드의 실행결과가 나올수 있는 빈칸에 들어갈 함수 이름은?
<font size="4"> numbers=[1,2,3,4,5] <br>
    numbers.________([10,20,30,40,50]) <br>
    numbers <br>
    결과 : [1,2,3,4,5,10,20,30,40,50]
</font>

<font size="5">extend</font>

### 5. 다음 구문을 실행할 때 결과는?
<font size="4"> numbers=list(range(10)) <br>
    numbers[::2]=[0]*len(numbers[::2]) <br>
    print(numbers)
</font>

<font size="5">[0,1,0,3,0,5,0,7,0,9]</font>

### 6. 다음 구문을 실행할 때 결과는?
<font size="4"> numbers = [0,1,2,3,4,5,6,7,8,9] <br>
    numbers[::2]=numbers[5:] <br>
    print(numbers)
</font>

<font size="5">[5,1,6,3,7,5,8,7,9,9]</font>

### 7. 다음 구문을 실행할 때 결과는?
<font size="4"> numbers=[0,1,2,3,4,5,6,7,8,9] <br>
    numbers[::2]=numbers[:5] <br>
    print(numbers)
</font>

<font size="5">[0,1,1,3,2,5,3,7,4,9]</font>

### 8. 다음 데이터에서 10을 출력할 수 없는 구문은?
<font size="4"> my_dic = {"a":10, "b":20, "c":30} <br>
    1. my_dic[0] <br>
    2. my_dic['a'] <br>
    3. list(my_dic.items()))[0][1] <br>
    4. list(my_dic.values())[0] <br>
    5. my_dic.get('a')
</font>

<font size="5">1번. dictionary의 경우 index가 아니라 key 값이 있기때문에 my_dic[0]을 하였을경우 0인 key값을 찾는게 0인 key값이 없어서 에러가 나옵니다</font>

### 9. 다음 프로그램의 결과를 출력하시오
<font size="4"> fruits = ['apple', 'banana', 'orange'] <br>
    x,y,z = fruits <br>
    print(x) <br>
    print(y) <br>
    print(z)
</font>

<font size="5">apple <br>
banana <br>
orange</font>

### 10. 다음 프로그램의 결과를 출력하시오
<font size="4"> fruits = ['apple', 'banana', 'orange']<br>
print(len(fruits))
</font>

<font size="5">3</font>

### 11. 파이썬에서 함수를 만들기 위해 선언하는 단어는?

<font size="5">def</font>