In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input{font-family:Consolas; font-size:12pt;}
div.prompt {min width:70px;}
div#toc-wrapper {padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe {font-size:12px;}
</style>
"""))

<font color='red' size='6'>ch05. 함수</font>
- 반복해서 사용할 코드를 묶어 놓고 ]]][그것에이름을 붙인것
- 오버로딩 불가 (같은 이름의 함수는 덮어씀)
- 함수 정의

```
def 함수명([매개변수1, 매개변수2, ..):
    명령어 1, 
    명령어 2, 
    ..
```

# 1절 함수의 정의 및 사]용
## 1.1 함수 정의

In [7]:
def my_message(x,msg): #msg를 x번 출력하는 함수 정의
    for i in range(x):
        print(i, msg)

In [8]:
# 함수 사용 = 함수 호출
my_message(3, 'Hello')

0 Hello
1 Hello
2 Hello

In [9]:
# 함수 이름 변경
my_msg = my_message
my_message(2, "Hello")
my_msg(3, "Python")

0 Hello
1 Hello
0 Python
1 Python
2 Python

In [10]:
type(my_msg), type(my_message)

(function, function)

In [18]:
print("Hello") # 파이썬 내장 함수 (import 하지 않고 사용할 수 있는 함수)
print = 5
print("Hello")

Hello

TypeError: 'int' object is not callable

In [19]:
del print
print("Hello")

Hello

In [20]:
my_message(2, 'Hello')

0 Hello
1 Hello

In [21]:
my_message = 5 
my_msg(2,"Hello")
my_message(2, "Hello")

0 Hello
1 Hello

TypeError: 'int' object is not callable

In [22]:
del my_message() #변수 및 함수 제거하여도
my_message(2,'Hello')#사용자 정의 함수, 라이브러리 함수는 del하여도 사용불가

SyntaxError: invalid syntax (2816452493.py, line 1)

In [ ]:
# 함수 중복 정의 불가(오버로딩 불가)
def my_hello():
    print('Hello Python')
    print('Hello world')
def my_hello(cnt): #cnt번 출력
    for i in range(cnt):
        print('Helllo Python', end='\t')
        print('Hello, World')

In [26]:
my_hello() # 매개변수 1개짜리로 덮어쓰였기 때문에 매개변수 0개짜리는 정의되지 않음

TypeError: my_hello() missing 1 required positional argument: 'cnt'

In [27]:
my_hello(2)

Helllo Python	Hello, World
Helllo Python	Hello, World

In [28]:
__name__

'__main__'

In [30]:
if __name__ == '__main__':
    my_hello(2)

Helllo Python	Hello, World
Helllo Python	Hello, World

In [3]:
import ch05 # ch05 모듈이 해석되서 메모리 로드

In [4]:
ch05.my_hello(2)

ch05
Hello, Python	Hello, World
Hello, Python	Hello, World

In [1]:
from ch05 import my_hello #ch05 모듈안의 my_hello만 메모리 로드
my_hello(3)

ch05
Hello, Python	Hello, World
Hello, Python	Hello, World
Hello, Python	Hello, World

## 1.2 docstring

In [3]:
def my_function():
    '''
    함수의 첫 라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역활
    주석보다 많은 기능 (함수 호출시 shift+tab(tab)으로 독스트링을 볼수 있음)
    '''
    #어떤 함수

In [5]:
print(my_function.__doc__) # 해당 함수의 독스트링을 볼수 있다

    함수의 첫 라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역활
    주석보다 많은 기능 (함수 호출시 shift+tab으로 독스트링을 볼수 있음)

In [7]:
def fibonacci(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    ex. n=10 : 0 1 1 2 3 5 8
      n=100  : 0 1 1 2 3 5 8 13 21 34 55 89
    '''
    a, b = 0, 1 # 하수 내에 선언한 변수 : 지역변수 (반:전역변수)
    while a<n:
        print(a, end=' ')
        a, b = b, a+b
    print() #개행

In [8]:
fibonacci(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [9]:
a, b # 지역변수는 함수내에서만 사용가능 (함수 호출 후 메모리에서 지워짐)

NameError: name 'a' is not defined

## 1.3 지역변수 (local var)와 전역변수 (global var)

In [2]:
global_var = 100
def func1():
    print('함수안 :', global_var)
func1()
print('함수밖 :', global_var)

함수안 : 100
함수밖 : 100

In [3]:
def func2():
    local_var = 200
    print('함수 안 :', local_var)
func2()

함수 안 : 200

In [4]:
#print('함수밖에서 지역변수 :', local_var) # 에러

NameError: name 'local_var' is not defined

In [5]:
g_var = 100 #전역변수
def func3():
    g_var = 200 #지역변수 (함수내에서 할당)
    print('지역변수 g_var :', g_var)
func3()
print('전역변수 g_var :', g_var)

g_var : 200
g_var : 100

In [9]:
# 렉시컬 특성 : 변수가 어디서 선언되었는지에 따라 변수의 범위가 정해짐 (지역 vs 전역)
# Error가 나오는 이유 : func3에 g_var가 할당되기에 미리 메모리에 넣어놧는데 출력을 할당하기 전에 하여 에러
g_var = 100 #전역변수
def func3():
    print('지역변수 g_var :', g_var)
    g_var = 200 #지역변수 (함수내에서 할당)
func3()
print('전역변수 g_var :', g_var)

UnboundLocalError: local variable 'g_var' referenced before assignment

In [11]:
g_var = 100 #전역변수
def func3():
    global g_var # 함수내에서의 g_var는 전역변수를 사용
    print('전역변수 g_var :', g_var)
    g_var = 200 #전역변수 g_var에 200 할당
func3()
print('전역변수 g_var :', g_var)

전역변수 g_var : 100
전역변수 g_var : 200

## 1.4 값에 의한 호출
- 함수에 인수로 전달되는 변수가 스칼라 변수(문자, 숫자, 논리형)일 때

In [13]:
foo = 'a' # 전역변수
id(foo)

2107741988656

In [14]:
def func1(f) : #매개변수는 지역변수
    print('Before :', f, '의 주소는', id(f))
    f = f*3
    print('After :', f, '의 주소는', id(f))
func1(foo)

Before : a 의 주소는 2107741988656
After : aaa 의 주소는 2107840959856

In [15]:
print('foo = ', foo,'의 주소는', id(foo))

foo =  a 의 주소는 2107741988656

## 1.5 참조에 의한 호출
- 함수에 인수로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 기타 객체일 경우

In [16]:
L = [1, 2, 3, 4, 5]
id(L)

2107849460416

In [17]:
def func2(f) : #매개변수는 지역변수
    print('Before :', f, '의 주소는', id(f))
    f.append(6)
    print('After :', f, '의 주소는', id(f))
func2(L)

Before : [1, 2, 3, 4, 5] 의 주소는 2107849460416
After : [1, 2, 3, 4, 5, 6] 의 주소는 2107849460416

In [19]:
print('L = ', L,'의 주소는', id(L))

L =  [1, 2, 3, 4, 5, 6] 의 주소는 2107849460416

# 2절. 함수에 실행결과를 반환하는 return

In [20]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
    ex. n=10 : 0 1 1 2 3 5 8
      n=100  : 0 1 1 2 3 5 8 13 21 34 55 89
    '''
    a, b = 0, 1 # 하수 내에 선언한 변수 : 지역변수 (반:전역변수)
    while a<n:
        print(a, end=' ')
        a, b = b, a+b
    print() #개행
    
def fibonacci(n):
    "n 미만의 피보나치수열을 리스트로 return"
    result = [] # 피보나치 수열을 append 할 리스트
    a, b = 0, 1
    while a<n:
        result.append(a)
        a, b = b, a+b
    return result

In [22]:
x = fibonacci(10)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8]
<class 'list'>

In [23]:
x = fibonacci_print(10)
print(x)
print(type(x))

0 1 1 2 3 5 8
None
<class 'NoneType'>

## 2.1  여러개 값 return
- 여러개값을 갖는 튜플로 return

In [2]:
def swap(a,b):
    "매개변수의 순서를 바꿔서 return"
    return (b,a)

In [3]:
x = 5; y = 10
print('함수 실행 전 x, y =', x, y)
x, y = swap(x,y)
print('함수 실행 후 x,y =', x, y)

함수 실행 전 x, y = 5 10
함수 실행 후 x,y = 10 5

# 3절 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [4]:
def make_url(ip, port=80): # 순서인수 > 기본값을갖는매개변수
    return "http://{}:{}".format(ip, port)

In [5]:
print(make_url("localhost", 8090))
print(make_url("www.naver.com"))
print(make_url(port=9090, ip="localhost"))

http://localhost:8090
http://www.naver.com:80
http://localhost:9090

In [6]:

# def make_url(port=80, ip):  # 순서인수 > 기본값을갖는매개변수 순으로 배치
#     return "http://{}:{}".format(ip, port) 에러남

## 3.2 기본변수를 갖는 매개변수
- 기본변수가 스칼라변수(문자, 숫자, 논리형)일 때
- 기본변수가 리스트, 셋, 딕셔너리, 기타 객체일 때

In [7]:

i = 80
# 기본변수가 스칼라변수일 때 : 함수가 정의되는 시점으로 기본값 셋팅
def make_url(ip, port=i):
    return "http://{}:{}".format(ip, port)

In [8]:
i = 99999
make_url("localhost")

'http://localhost:80'

In [9]:
list_ = []
# 기본변수가 리스트, 셋, 딕셔너리, 객체일 때 : 함수가 실행되는시점으로 기본값 셋팅
def func3(a, L=list_):
    L.append(a)
    return L
print(func3(10))

[10]

In [10]:
print(func3(20))

[10, 20]

In [11]:

print("list_ =", list_)

list_ = [10, 20]

In [12]:

print(func3(50))

[10, 20, 50]

In [13]:
# 실행할 때마다 L을 공유하는게 싫으면
def func3(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L
print(func3(10))
print(func3(10))
print(func3(10))
print(func3(10, [1,2,3]))
print(func3(10))

[10]
[10]
[10]
[1, 2, 3, 10]
[10]

## 3.3 순서인수, 키워드 인수
- 순서인수 : 함수에 정의된 순서대로 전달방식
- 키워드인수 : 인수의 이름을 명시하는 방식
- 함수 정의시 순서인수와 키워드인수가 같이 올 때는 순서인수 > 키워드인수 순으로

In [14]:
def func3(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

In [15]:
lst = []
print(func3(10, lst))     # 순서인수 : 함수 정의된 순서대로 전달하는 방식
print(func3(L=lst, a=20)) # 키워드인수 : 인수의 이름을 명시하여 전달하는 방식

[10]
[10, 20]

## 3.4 튜플매개변수를 이용한 가변인수 설정
- 가변인수 : 매개변수의 갯수가 가변

In [16]:
# 파이썬은 함수의 중복정의(오버로딩)을 지원하지 않음
def add(a, b):
    return a+b
def add(a, b, c):
    return a+b+c

In [17]:

add(3, 5)

TypeError: add() missing 1 required positional argument: 'c'

In [20]:

# args앞에 * : args가 튜플로 전달받는다
def add(*args):
    #print('args =', args)
    '전달받은 매개변수들의 합을 return. 매개변수가 없는 경우 0을 return'
    sum = 0 # 누적변수
    for num in args:
        sum += num # sum = sum+num
    return sum

In [21]:
print(add())
print(add(1))
print(add(1, 3))
print(add(1, 2, 5, 7, 9, 1))

0
1
4
25

In [22]:

subject = ('Python', 'web', 'JavaScript', 'DBMS')
'-'.join(subject)

'Python-web-JavaScript-DBMS'

In [23]:

# 튜플 매개변수와 일반 매개변수가 같이 있을 때
def concat(*subject, sep):
    return sep.join(subject)

In [24]:
concat('Python', 'web', 'JavaScript', 'DBMS', '-')

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [25]:

# 해결책1 : 매개변수 이름을 지정해서 호출
concat('Python', 'web', 'JavaScript', 'DBMS', sep='-')

'Python-web-JavaScript-DBMS'

In [26]:
# 해결책2 : 기본값을 갖는 키워드인수 사용
def concat(*subject, sep=' ~ '): # 튜플매개변수 > 키워드인수
    return sep.join(subject)
print(concat('Python', 'Web', 'JS', 'DBMS', '-'))
print(concat('Python', 'Web', 'JS', 'DBMS', sep='-'))

Python ~ Web ~ JS ~ DBMS ~ -
Python-Web-JS-DBMS

In [27]:

print('python', 'web', 'js', sep='=')

python=web=js

In [28]:

# 해결책3 : sep을 순서인수로 앞으로 (추천)
def concat(sep, *subject):
    return sep.join(subject)

In [29]:
concat('~', 'Python', 'Web', 'DB', 'MLDL')

'Python~Web~DB~MLDL'

## 3.5 딕셔너리 매개변수
- 딕셔너리 인수 : 여러개의 키워드 인수를 딕셔너리 형태로 받아서 가변인수로 처리

In [30]:
def func5(**args):
    '''딕셔너리 매개변수로 받아 address 키가 없으면 서울시 관악구로 추가하고
    키-값을 출력'''
    print(args)
    print(type(args))
    if 'address' not in args: # args에 address 키가 없으면 if문 True
        # args['address'] = '서울시 관악구'
        # args.update({'address':'서울시 관악구'})
        args.update(address='서울시 관악구')
    for key, value in args.items():
        print("{} : {}".format(key, value))

In [31]:
func5(nam='홍길동', 
      age=30, 
      tel='010-9999-9999')

{'nam': '홍길동', 'age': 30, 'tel': '010-9999-9999'}
<class 'dict'>
nam : 홍길동
age : 30
tel : 010-9999-9999
address : 서울시 관악구

## 3.6 함수 정의시 매개변수의 순서
- 순서인수 > 튜플인수(*) > 키워드인수(기본값) > 딕셔너리인수(**)

In [32]:
# 순서인수 > 튜플인수 > 딕셔너리인수
def func6(a, b, *c, **d):
    print('순서인수 a = ', a)
    print('순서인수 b = ', b)
    print('튜플인수 c = ', c)
    print('딕셔너리인수 d = ', d)

In [33]:
func6(10, 20, 1,2,3,4,5,6,7,8,9,'a','b',True, name='홍', age=30, address='신림')

순서인수 a =  10
순서인수 b =  20
튜플인수 c =  (1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', True)
딕셔너리인수 d =  {'name': '홍', 'age': 30, 'address': '신림'}

In [34]:

# 순서인수 > 튜플인수(*) > 키워드인수(기본값) > 딕셔너리인수(**)
def func7(a, b, c, *d, e=10, **f):
    print('순서인수 a =', a)
    print('순서인수 b =', b)
    print('순서인수 c =', c)
    print('튜플인수 d =', d)
    print('키워드인수(기본값 10) e =', e)
    print('딕셔너리인수 f =', f)

In [35]:
func7(10, 20, 30, e=100)

순서인수 a = 10
순서인수 b = 20
순서인수 c = 30
튜플인수 d = ()
키워드인수(기본값 10) e = 100
딕셔너리인수 f = {}

In [36]:

func7(10, 20, 30)

순서인수 a = 10
순서인수 b = 20
순서인수 c = 30
튜플인수 d = ()
키워드인수(기본값 10) e = 10
딕셔너리인수 f = {}

In [37]:
func7(10, 20, 30, 1,2,3,4,5, e=100, shape='rect', width=20, height=30)

순서인수 a = 10
순서인수 b = 20
순서인수 c = 30
튜플인수 d = (1, 2, 3, 4, 5)
키워드인수(기본값 10) e = 100
딕셔너리인수 f = {'shape': 'rect', 'width': 20, 'height': 30}

## 3.7 인수의 언패킹
### 튜플인수 언패킹
- 언패킹 : 함수 호출시 매개변수 앞에 * 붙임
- 패킹 : 함수 정의시 매개변수앞에 * 붙임(튜플매개변수)

In [38]:

def add(*args):
#    print(args)
    sum = 0
    for num in args:
        sum += num
    return sum

In [39]:

add(1, 2, 3)

6

In [40]:
numbers = (1, 2, 3)
add( *numbers )

6

### 딕셔너리 인수 언패킹
- 언패킹 : 함수 호출시 매개변수 앞에 ** 붙임
- 패킹 : 함수 정의시 매개변수앞에 ** 붙임(튜플매개변수)

In [41]:
def func8(**data):
    print(data)
    for item in data.items():
        print(item)

In [42]:
func8(shape='rect', width=40, height=30)

{'shape': 'rect', 'width': 40, 'height': 30}
('shape', 'rect')
('width', 40)
('height', 30)

In [43]:
info = {'shape':'rect', 'width':40, 'height':30}
func8(**info)

{'shape': 'rect', 'width': 40, 'height': 30}
('shape', 'rect')
('width', 40)
('height', 30)

# 4절. 람다식
- return 한 줄짜리 작은 익명함수

## 4.1 람다식 연습

In [46]:
def add(a,b):
    return a+b
print(add(3,5))
print(type(add))

8
<class 'function'>

In [49]:
add2 = lambda a, b : a + b
print(add2(3,5))
print(type(add2))

8
<class 'function'>

In [54]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return하는 함수를 람다식으로 만들어보세요
def even_odd_chk(num):
#     if num % 2:
#         result = '홀수'
#     else:
#         result = '짝수'
    result = '홀수' if num%2 else '짝수'
    return result
print(even_odd_chk(5), even_odd_chk(-4))

even_odd_chk2 = lambda num : '홀수' if num%2 else '짝수'
print(even_odd_chk2(5), even_odd_chk2(-4))

홀수 짝수
홀수 짝수

In [57]:
# ex2. 두 매개변수의 차이를 return하는 함수를 람다식으로 만들어 보세요'
def diff(num1,num2): 
    #return |num1 - num2|
    return num1-num2 if num1 >= num2 else num2-num1
print(diff(3,2), diff(2,3))

#diff2 = lambda num1, num2 : |num1-num2|
diff2 = lambda num1, num2 : num1-num2 if num1 >= num2 else num2-num1
print(diff2(3,2), diff2(2,3))

1 1
1 1

In [60]:
#ex3. 매개변수로 잔액을 받아, 잔액이 0 이상이면 잔액을 return, 음수면 'negative'를 return
ex3 = lambda balance : balance if balance >= 0 else 'negative'
ex3(1000), ex3(-100)

(1000, 'negative')

In [73]:
# ex4. 점수를 입력받아 80점 이상은 'A팀', 60점 이상은 'B팀' 60점 미만은 '재시험'
                                # 100점 초과, 0점미만은 '유효하지 않음'을 return
grade = lambda score : 'A팀' if 80 <= score <= 100 else \
                        'B팀' if 60 <= score <80 else \
                        '재시험' if 0 <= score <60 else \
                        '유효하지 않음'
grade(70), grade (89), grade(-1), grade (1000000000), grade(50)

('B팀', 'A팀', '유효하지 않음', '유효하지 않음', '재시험')

In [72]:
# 점수를 입력받아 학점을 return
scoreGrade =  lambda score : 'A' if 90 <= score <= 100 else \
                        'B' if 80 <= score <90 else \
                        'C' if 70 <= score <80 else \
                        'D' if 60 <= score <70 else \
                        'F' if 0 <= score <60 else \
                        '유효하지 않음'

grade(70), grade (89), grade(-1), grade (1000000000), grade(50)

('C', 'B', '유효하지 않음', '유효하지 않음', 'F')

In [75]:
# ex5. safe_index 함수를 람다식으로
# def safe_index(lst, item, start=0):
#     '''
#     첫번째 매개변수 lst[start:]에서 item 요소가 있는 index를 반환.
#     item 요소가 없으면 -1을 반환
#     lst: 요소를 찾고 싶은 iterable(리스트, 튜플)
#     item: 찾고 싶은 값
#     start: 서치를 시작할 index(기본값: 0)
#     '''
#     return lst.index(item,start) if (item in lst[start:]) else -1

safe_index = lambda lst, item, start=0 : lst.index(item,start) if (item in lst[start:]) else -1
safe_index([1,2,3,4,5],5), safe_index([1,2,3,4,5],6), safe_index([1,2,3,4,5],1,2)

(4, -1, -1)

In [79]:
# 람다식을 list에 들어갈 수 있음
add = lambda a, b : a + b
sub = lambda a, b : a - b
mul = lambda a, b : a * b
div = lambda a, b : a / b if b else '분모가 0입니다'
operations = [add, sub, mul, div] # 사칙연산 함수들

def act_operations(a, b, operations=operations):
    result = []
    for op in operations:
        result.append(op(a,b))
    return result

act_operations(20,5)

[25, 15, 100, 4.0]

In [81]:
act_operations(3, 2, [lambda x,y : x**y, lambda x,y : 10*x+y])

[9, 32]

In [82]:
operations.append(lambda x,y : x**y)
len(operations)

5

In [83]:
act_operations(8,2) # 기본값을 갖는 변수(기본변수)가 리스트면 기본값은 호출할 시점

[10, 6, 16, 4.0, 64]

## 4.2 함수의 매개변수(인수)에 람다식 사용
- 람다식을 사용하는 곳 : 함수의 매개변수 > return 문

### (1) map

In [88]:
def map_template(func, L=[]):
    result = []
    for item in L:
        result.append(func(item))
    return result

In [89]:
list_data = [1,2,3,4,5,6,7,8,9]
# def x_2(x):
#     return x*2
x_2 = lambda x:x*2
map_template(x_2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [86]:
map_template(lambda x:x*2, list_data)

[1, 2, 3]

In [113]:
# 리스트 컴프리헨션
[item*2 for item in list_data]
#[(lambda x:x*2) for item in list_data] #람다식은 리스트 컴프리헨션에서 잘 사용 x

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [94]:
list(map(lambda x:x*2, list_data))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [95]:
for data in map(lambda x:x*2, list_data):
    print(data, end= ' ')

2 4 6 8 10 12 14 16 18

In [101]:
'''
예제 1. prices = ['5,000', '5000', '6,000', '1000','5,000', '5000', '6,000', '1000’]를 [5000,5000,6000,1000]식으로 바꾸시오
'''
prices = ['5,000','5000','6,000','1000','5,000','5000','6,000','1000']
list(map(lambda price : int(price.replace(',','')), prices))

[5000, 5000, 6000, 1000, 5000, 5000, 6000, 1000]

In [110]:
'''
예제 2.
members1 = [{'name':'홍길동', 'birth':'2000-01-01’},
{'name':'신길동', 'birth':'1995-12-18'},]를
members2 = [
{'name':'홍길동', 'year':2000, 'month':1,'day':1},
{'name':'신길동', 'year':1995, 'month':12, 'day':18},] 변환
'''
members1 = [{'name':'홍길동', 'birth':'2000-01-01'}, {'name':'신길동', 'birth':'1995-12-18'},]
members2 = list(map(lambda person : {'name':person.get('name'), 
                                     'year':int(person.get('birth').split('-')[0]), 
                                     'month':int(person.get("birth").split('-')[1]), 
                                     'day':int(person.get("birth").split('-')[2])
                                    }, members1))
print(members2)

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}, {'name': '신길동', 'year': 1995, 'month': 12, 'day': 18}]

In [115]:
'''
예제3. members2를 members1로 전환
'''
members2 = [{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}, {'name': '신길동', 'year': 1995, 'month': 12, 'day': 18}]
members1 = list(map(lambda person : {'name':person.get('name'),
                                     'birth':'{}-{:0>2}-{:0>2}'.format(person.get('year'), person.get('month'), person.get('day'))
                                    }, members2))
members1

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1995-12-18'}]

In [119]:
members2 = [{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}, {'name': '신길동', 'year': 1995, 'month': 12, 'day': 18}]
members1 = list(map(lambda person : {'name':person.get('name'),
                                     'birth':'{year}-{month:0>2}-{day:0>2}'.format(**person)
                                    }, members2))
members1

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1995-12-18'}]

### (2) filter

In [123]:
def filter_template(func, L=[]): #func는 조건이 맞으면 True, 아니면 False
    result = []
    for item in L:
        if func(item):
            result.append(item)
    return result

In [134]:
list_data = [1,2,3,4,5,6,7,8,9]
print(filter_template(lambda item : item%2, list_data))
print(list(filter(lambda item : item%2, list_data)))
[item for item in list_data if item%2!=0]

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]

[1, 3, 5, 7, 9]

In [136]:
# 예제 : 다음 리스트에서 소수점 이하가 0인 수만 추출하시오(filter/리스트컴프리핸션)
L = [1, 1.2, 1.5, 3.0, 10.5, 100, -2.0, -12.2]
print(list(filter(lambda item : not item%1, L)))
[num for num in L if not num%1]

[1, 3.0, 100, -2.0]

[1, 3.0, 100, -2.0]

### (3) sort

In [140]:
#무조건 0번째 item을 기준으로 오름차순 정렬
pairs = [(2,'two'), (1,'one'), (3,'three'), (4,'four')]
pairs.sort()
pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [145]:
# 1번째 item 기준으로 내림차순 정렬
pairs.sort(key=lambda data:data[1], reverse=True)
pairs

[(2, 'two'), (3, 'three'), (1, 'one'), (4, 'four')]

In [149]:
# 합이 큰순으로 정렬
number_2d = [[9,9], [1,100], [10,200,2]]
number_2d.sort(key=lambda data : sum(data), reverse=True)
number_2d

[[10, 200, 2], [1, 100], [9, 9]]

In [165]:
students = [{'name':'홍', 'score':99},
            {'name':'김', 'score':50},
            {'name':'박', 'score':77},
            {'score':100}]
# students name 순으로
students.sort(key=lambda data : data.get('name') if data.get('name') else '')
students

[{'name': '김', 'score': 50}, {'name': '박', 'score': 77}, {'name': '홍', 'score': 99}, {'score': 100}]

[{'score': 100},
 {'name': '김', 'score': 50},
 {'name': '박', 'score': 77},
 {'name': '홍', 'score': 99}]

In [167]:
# students를 score 큰 순 정렬
students.sort( key=lambda data : data.get('score', 0), reverse=True)
students

[{'score': 100},
 {'name': '홍', 'score': 99},
 {'name': '박', 'score': 77},
 {'name': '김', 'score': 50}]

In [188]:
#마지막 예제
'''
books = \
[{'no':1, 'title':’더트릭컬', 'writer':'폴빠','price':'19,800'},
{'no':2, 'title’:’흔한남매', 'writer':'백난도', 'price’:’15,120'},
{'no':3, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'15,120'},
{'no':4, 'title':'가격잘못', 'writer':'홍길동', 'price':'ㅁ'},
{'no':5, 'title':'가격이숫자', 'writer':'백난도', 'price':30200},
{'no':6, 'title':'가격이없음', 'writer':'이길동'},] 정렬
'''
books = [{'no':2, 'title':'더트릭컬', 'writer':'폴빠','price':'19,800'},
         {'no':1, 'title':'흔한남매', 'writer':'백난도', 'price':'15,120'},
         {'no':3, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'15,120'},
         {'no':4, 'title':'가격잘못', 'writer':'홍길동', 'price':'ㅁ'},
         {'no':5, 'title':'가격이숫자', 'writer':'백난도', 'price':30200},
         {'no':6, 'title':'가격이없음', 'writer':'이길동'},]
books

[{'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'}]

In [189]:
# books no순으로 정렬
books.sort(key=lambda data : data.get('no', 100000000000))
books

[{'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'}]

In [190]:
# title 순으로
books.sort(key=lambda data : data.get('title', '힣'))
books

[{'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'}]

In [191]:
# writer 순으로
books.sort(key=lambda data : data.get('writer', '힣'))
books

[{'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200},
 {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'}]

In [200]:
# price 순으로
# int data가 많으면 효율이 떨어진다 (string으로 parse하는데 걸리는 시간이 많아짐)
books.sort(key=lambda data : int(str(data.get('price')).replace(',','')) if str(data.get('price')).replace(',','').isdigit() else 0)
books

[{'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200}]

In [208]:
#int가 많을 경우 밑에 방식이 더 효율적임(string으로 parse를 안 하기 때문)
#반대로 string 데이터가 많을 경우 위에 데이터가 효율적임
books.sort(key = lambda book : \
          int(book.get('price').replace(',',''))\
              if isinstance(book.get('price'),str) and \
                  book.get('price').replace(',','').isdigit() else\
            book.get('price') if isinstance(book.get('price'), int) else 0)
books

[{'no': 6, 'title': '가격이없음', 'writer': '이길동'},
 {'no': 4, 'title': '가격잘못', 'writer': '홍길동', 'price': 'ㅁ'},
 {'no': 3, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '15,120'},
 {'no': 1, 'title': '흔한남매', 'writer': '백난도', 'price': '15,120'},
 {'no': 2, 'title': '더트릭컬', 'writer': '폴빠', 'price': '19,800'},
 {'no': 5, 'title': '가격이숫자', 'writer': '백난도', 'price': 30200}]

# 5절 파이썬 내장함수
- import 하지 않고 바로 사용 가능한 함수
- 키워드 (if, while, ...)처럼 간주되므로, 식별자(변수명, 함수명, 클래스명)로 사용하는 것을 피한다

In [1]:
globals() #전역변수 리스트

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['', 'globals() #전역변수 리스ㅡ'],
 '_oh': {},
 '_dh': [WindowsPath('C:/ai/source/01_python')],
 'In': ['', 'globals() #전역변수 리스ㅡ'],
 'Out': {},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x000002182F1D3730>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x2182f1dfee0>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x2182f1dfee0>,
 'open': <function io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
 '_': '',
 '__': '',
 '___': '',
 '_i': '',
 '_ii': '',
 '_iii': '',
 '_i1': 'globals() #전역변수 리스ㅡ'}

In [3]:
all([True, True, True, False]) #모든 요소가 다 True인지 여부

False

# 6절 연습문제
## 실습형
### 1. 함수의 인자로 리스트를 받은 후 리스트 내에 있는 모든 정수값에 대한 최대값과 최소값을 리턴하는 함수를 작성하세요
- def get_max_min(data_list):
- get_max_min = lambda ~

In [206]:
def get_max_min(data_list):
    return min(data_list), max(data_list)

get_max_min = lambda data_list : (min(data_list), max(data_list))

(-1, 3)

### 2. 체질량(Body Mass Index, BMI)는 체중과 키를 이용해 비만도를 나타내는 지수로 아래의 수식에 의해 계산됩니다. 함수의 인자로 체중(kg)과 신자(m)를 입력받은 후 BMI 값에 따라 '마른 체형', '표준', '비만', '고도비만' 중 하나의 상태를 출력하는 함수를 구현해보세요.
- getBMI(kg,m):
- BMI 지수 = 체중(kg) / 신장(m)의 제곱
- BMI < 18.5 : 마른체형
- 18.5 <= BMI < 25 : 표준
- 25 <= BMI < 30 : 비만
- BMI >= 30 : 고도비만

In [207]:
def getBMI(kg, m):
    BMI = (kg/m) ** 2
    if BMI >= 30:
        result = '고도비만'
    elif BMI >= 25:
        result = '비만'
    elif BMI >= 18.5:
        result = '표준'
    else:
        result = '마른체형'
    return result

### 3. 직각삼각형의 밑변과 높이를 입력받은 후 삼각형의 면적과 둘레를 계산하는 함수를 작성하세요
- 리턴값은 면적과 둘레를 return하도록 구현하세요
- math.sqrt() : 제곱근을 구하는 함수 이용 (ex)math.sqrt(25) : 5.0
- def get_triangle(width, height):

In [2]:
import math
def get_triangle(width, height):
    area = width * height / 2
    hyp = math.sqrt(width**2 + height**2)
    peri = width + height + hyp
    return area, peri

### 4. 함수의 인자로 시작과 끝 숫자가 주어질 때 시작부터 끝까지의 모든 정수값의 합을 리턴하는 함수를 작성하세요(시작값과 끝값 포함).
- def mysum(fRom, end):

In [12]:
def mysum(fRom, end):
    return sum(range(fRom, end+1))

### 5. 함수의 인자로 문자열을 포함하는 리스트가 입력될 때 각 문자열의 첫 세글자로만 구성된 리스트를 리턴하는 함수와 람다식을 작성하세요
- 예를 들어 함수의 입력으로 ['Seoul', 'Daegu', 'Kwangju', 'Jeju']가 입력될 때 함수의 리턴값은 ['Seo', 'Dae', 'Kwa', 'Jej']
- def get_abbrs(lst)

In [16]:
def get_abbrs(lst):
    return [value[:3] for value in lst]

get_abbrs = lambda lst : [value[:3] for value in lst]

### 6. 다음 코드를 람다 함수 형태로 수정할때 알맞은 코드를 작성하시오
```python
def f(x,y):
    return x ** y
```

In [17]:
power = lambda x,y : x**y

### 7. ex = [1,2,3,4,5]를 [1,4,9,16,25]의 결과를 얻을 수 있도록 람다함수와 map()함수를 사용하여 구현과 리스트 컴프리헨션으로 구현하시오

### 8. 다음 코드를 각각 실행하면 서로 다른 결과가 나온다. 이런 결과가 나오는 이유를 서술하시오
```
>>> a = [1,2,3]
>>> print(*a)
1 2 3
>>> print(a)
[1,2,3]
```

### 9. 다음 코드의 실행 결과는?
```
>>> date_info={'year':2024, 'month':9, 'day':6}
>>> result = '{year}-{month}-{day}'.format(**date_info)
>>> result
```

### 10. n개의 벡터(리스트나 튜플, 셋 등)들의 크기가 같은지 여부를 return하는 vector_size_check(*vector_var)를 한 줄의 코드(리스트 컴프리헨션 이용)로 작성하시오.

### 11. 다음과 같은 결과를 얻기 위해 하나의 스칼라값을 리스트나 튜플, 셋 등 벡터에 곱하는 코드를 작성하시오. (단 입력되는 벡터의 크기는 일정하지 않음)
```
>>> scalar_vector_product(5, [1,2,3,4])
[5, 10, 15, 20]
```

## 서술형
### 1. 다음 코드의 실행 결과는?
```python
pairs = [(1,'d'), (2,'c'), (3,'b'), (4,'a')]
pairs.sort(key=lambda pair : pair[1])
pairs
```
<font size="3">
① [(1, 'd'), (2, 'c'), (3, 'b'), (4, 'a')] <br>
② [(4, 'a'), (3, 'b'), (2, 'c'), (1, 'd')] <br>
③ [(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')] <br>
④ 프로그램 오류
</font>

### 2. 함수 영역과 변수들의 참조 영역에 따른 동작을 보여주기 위한 문제입니다. 오류가 발생하는 라인을 찾고 문제를 해결하기 위한 코드를 작성하며, 실행 결과를 쓰세요.
```python
a=10
def sub():
    a +=1
    print(a, end=' ')
    
def func():
    for i in range(2):
        a = 5
        a += 1
          print(a, end=' ')
          sub()
a += 1
func()
```
- 오류가 발생하는 라인 :
- 문제 해결을 위한 코드 :
- 코드 수정후 실행 결과 :

### 3. 다음 구문을 실행한 결과는
```python
var = 100
def func(var):
    var = 200
func(var)
print(var)
```

### 4. 다음 구문의 실행 결과는?
```python
def my_func(func, *args):
    return func(*args)
import numpy as np
my_func(np.add,2,3)
```

### 5. 다음 구문의 실행결과는?
```python
def my_func(func, *args):
    return func(*args)
my_func(lambda a,b : a**b, 3, 2)
```

### 6. 파이썬 함수에 대한 설명 중 잘못된 것은? <br>

<font size="3">
① 파이썬의 함수는 중복 정의해 사용할 수 있다 <br>
② 파이썬의 함수 매개변수는 기본값을 가질 수 있다 <br>
③ **args 형식의 매개변수가 있으면 키워드 인수는 딕셔너리 형식으로 받는다. <br>
④ 함수를 호출할 때 매개변수 이름이 없는 인수는 매개변수 이름이 있는 인수보다 앞에 와야 한다.
</font>

### 7. 다음과 같은 구문이 있을 경우 오류가 발생하는 함수 호출은?
```python
list_ = []
def func(a, L=None):
    if L is None:
        L=[]
    L.append(a)
    return L
```
<font size="3">
① func(10,list_) <br>
② func(20, L=list_) <br>
③ func(a=30) <br>
④ func([],a=40)
</font>

### 8. 다음 보기가 설명하는 것을 작성하기 위한 키워드를 쓰세요(영문 소문자로 쓰세요)
- 작은 익명함수를 의미한다.
- 함수가 실행할 문장이 한 문장일 경우에 만들어 사용할 수 있습니다
- 다른 함수의 인수 또는 리턴값에 사용할수 있습니다