In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input{font-family:Consolas; font-size:12pt;}
div.prompt {min width:70px;}
div#toc-wrapper {padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe {font-size:12px;}
</style>
"""))

<b><font size='6' color='red'>ch09 파일 i/o 프로그래밍</font></b>
- 파일 : txt, pickle(머신러닝모델저장, 배열), csv, json, h5(딥러닝모델저장)

# 1절 txt파일에 데이터 저장하고 불러오기

In [3]:
# mode = 'r', 'rt' : 텍스트 읽기모드로 열기, 파일이 없을경우 예외 발생
# mode = 'w', 'wt' : 텍스트 쓰기모드로 열기, 폴더가 없을경우 예외 발생, 파일이 없으면 생성, 파일이 있으면 덮어쓰기, close를 해야 저장
# mode = 'a', 'at' : 텍스트 쓰기모드로 열기, 폳러가 없을경우 예외 발생, 파일이 없으면 생성, 파일이 있으면 append
f = open('data/ch09.txt', 'w') #기본 인코딩 'cp949' (win), 운영체제마다 다를수도
print('쓰기 가능한지 :', f.writable())
f.write('Hello\nWorld\n')
f.close()

쓰기 가능한지 : True

In [4]:
# with 구문을 사용하면 매번 close()하는 코드가 불필요
with open('data/ch09.txt', 'wt') as f:
    print('쓰기 가능한지 :', f.writable())
    f.write('Python is easy.\nPython is smart.\n')

쓰기 가능한지 : True

In [8]:
with open('data/ch09.txt', 'a') as f:
    print('프린트 함수로 파일 쓰기가 가능합니다-파일출력 :', file=f)
    print('프린트 함수로 파일 쓰기가 가능합니다-콘솔출력')
    f.write('Python is easy.\nPython is smart.\n')

프린트 함수로 파일 쓰기가 가능합니다-콘솔출력

- 한글 읽기/쓰기
    - cp949(한글완성형확장형) : open 함수의 기본 인코딩(win)
    - utf-8(한글조합형) : 주피터노트북에서 열기

In [4]:
with open('data/ch09.txt','w', encoding='utf-8') as f:
    # 방법 1
    f.write('홍길동, 30, 서울\n')
    f.write('김길동, 20, 수원\n')
    # 방법 2
    textlist = ['홍길동, 30, 서울\n', '김길동, 20, 부산\n']
    for line in textlist:
        f.write(line)
    # 방법 3
    f.writelines(textlist) #리스트를 한꺼번에 write, 위의 for문과 동일

In [5]:
# 파일을 한꺼번에 읽어오기
with open('data/ch09.txt', 'rt', encoding='utf-8') as f:
    filecontent = f.read()
filecontent

'홍길동, 30, 서울\n김길동, 20, 수원\n홍길동, 30, 서울\n김길동, 20, 부산\n홍길동, 30, 서울\n김길동, 20, 부산\n'

In [6]:
# 파일을 한줄 읽고, 출력하고, 한줄읽고 출력, ...
with open('data/ch09.txt', 'r', encoding='utf-8') as txtfile:
    line = txtfile.readline()
    while line != '':
        print(line, end='') # line 변수 자체에 \n이 포함되어 있기에 출력시 개행은 제거
        line = txtfile.readline()

홍길동, 30, 서울
김길동, 20, 수원
홍길동, 30, 서울
김길동, 20, 부산
홍길동, 30, 서울
김길동, 20, 부산

In [7]:
# 파일을 한꺼번에 여러줄 읽어, 한줄씩 list담아 return
with open('data/ch09.txt', 'r', encoding='utf-8') as txtfile:
    lines = txtfile.readlines()
print(lines)

['홍길동, 30, 서울\n', '김길동, 20, 수원\n', '홍길동, 30, 서울\n', '김길동, 20, 부산\n', '홍길동, 30, 서울\n', '김길동, 20, 부산\n']

In [8]:
for line in lines:
    print(line, end='')

홍길동, 30, 서울
김길동, 20, 수원
홍길동, 30, 서울
김길동, 20, 부산
홍길동, 30, 서울
김길동, 20, 부산

# 2절 피클을 이용한 객체 저장 및 불러오기
- 피클 파일의 용도 : 머신러닝 모델저장, 배열저장, 객체저장
- 확장자 : *.pickel, *.pkl, *.data

## 2.1 형식이 있는 텍스트 데이터 불러오기

In [18]:
with open('data/ch09_member.txt', 'r', encoding='utf-8') as f:
    lines = f.readlines()
#print(lines)
for line in lines:
    # print(line)
    data = line.split(', ')
    print(data)
    name = data[0]
    age = int(data[1])
    email = data[2]
    address = data[3].strip()
    print({'name':name, 'age':age, 'email':email, 'address':address})

['홍길동', '20', 'kildong@hong.com', '서울시 관악구\n']
{'name': '홍길동', 'age': 20, 'email': 'kildong@hong.com', 'address': '서울시 관악구'}
['홍길숙', '25', 'kilsuk1@hong.com', '서울시 영등포구\n']
{'name': '홍길숙', 'age': 25, 'email': 'kilsuk1@hong.com', 'address': '서울시 영등포구'}
['신길동', '30', 'shinkil@hong.com', '서울시 동작구']
{'name': '신길동', 'age': 30, 'email': 'shinkil@hong.com', 'address': '서울시 동작구'}

In [16]:
class Member:
    def __init__(self, name, age, email, address):
        self.name = name
        self.age = age
        self.email = email
        self.address = address
    
    def __str__(self):
        return 'name : {}, age : {}, email : {}, address : {}'.format(self.name, self.age, self.email, self.address)
    
#     def __eq__(self, other):
#         비교할것이 많아지면 하나하나 하기 너무 힘들다
#         return (self.name == other.name) & (self.age == other.age) & (self.email == other.email) & (self.address == other.address)
    
    def __eq__(self, other):
        return self.__str__() == other.__str__()
    
    def as_dict(self):
        '객체를 dictionary로 바꿔 return (json 파일 저장시 필요)'
        return self.__dict__

In [28]:
member1 = Member('신길동', 30, 'shinkil@hong.com', '서울시 동작구')
member2 = Member('신길동', 30, 'shinkil@hong.com', '서울시 동작구')
print(member1.__str__())
print(member2)
print(member2 == member1)
print(member2.__eq__(member1))
print(member1.__dict__)
print(member1.as_dict())

name : 신길동, age : 30, email : shinkil@hong.com, address : 서울시 동작구
name : 신길동, age : 30, email : shinkil@hong.com, address : 서울시 동작구
True
True
{'name': '신길동', 'age': 30, 'email': 'shinkil@hong.com', 'address': '서울시 동작구'}
{'name': '신길동', 'age': 30, 'email': 'shinkil@hong.com', 'address': '서울시 동작구'}

## 2.2 피클링
- 객체리스트 -> 피클파일로 쓰기
- 피클 파일 -> 객체리스트로 읽기

In [17]:
# data/ch09_member.txt -> 객체list, 딕셔너리list
member_list = [] # Member 객체 list
dict_list = [] # 딕셔너리 list
with open('data/ch09_member.txt', 'r', encoding='utf-8') as f:
    lines = f.readlines()
for line in lines:
    data = line.strip().split(', ')
    name = data[0]
    age = int(data[1])
    email = data[2]
    address = data[3].strip()
    member = Member(name, age, email, address)
    member_list.append(member)
    dict_list.append(member.__dict__)

In [ ]:
for member in member_list:
    print(member)

In [35]:
# 피클링(확장자 :pkl, pickel, data)을 이용한 객체를 파일에 저장하기
import pickle
with open('data/ch09_member.pkl', 'wb') as f:
    pickle.dump(member_list, f)

In [36]:
# 피클링을 이용한 파일을 객체리스트로 읽기
with open('data/ch09_member.pkl', 'rb') as f:
    load_member_list = pickle.load(f)

In [37]:
id(member_list), id(load_member_list)

(1526692477376, 1526692393664)

In [39]:
for idx in range(len(member_list)):
    print(idx,'번째 비교 :', (member_list[idx] == load_member_list[idx]))

0 번째 비교 : True
1 번째 비교 : True
2 번째 비교 : True

In [41]:
for idx, (member, load_member) in enumerate(zip(member_list, load_member_list)):
    print(idx,'번째 비교 :', member == load_member)

0 번째 비교 : True
1 번째 비교 : True
2 번째 비교 : True

In [44]:
result = [] # 비교결과(True/False)를 append
for member, load_member in zip(member_list, load_member_list):
    result.append(member==load_member)
result

[True, True, True]

In [45]:
all(result) #모든 요소들이 True인지 여부

True

# 3절. csv 파일 읽고/쓰기
- CSV 파일의 자료를 리스트 데이터로 읽고 쓰기 (3.1과 3.2)
- CSV 파일의 자료를 딕셔너리 데이터로 읽고 쓰기 (3.3과 3.4)

## 3.1 reader

In [49]:
import csv
with open('data/ch09_member1.csv', 'r', encoding='utf-8') as f:
    reader = csv.reader(f)
    result = list(reader)
result

[['홍길동', '20', 'kildong@hong.com', '서울시 관악구'],
 ['김길동', '40', 'kimdong@hong.com', '서울시 영등포구'],
 ['신길동', '30', 'sindong@hong.com', '서울시 동작구']]

In [50]:
with open('data/ch09_member1-cp.csv', 'r') as f:
    reader = csv.reader(f)
    result = list(reader)
result

[['홍길동', '20', 'kildong@hong.com', '서울시 관악구', ''],
 ['김길동', '40', 'kimdong@hong.com', '서울시 영등포구', '팀장'],
 ['신길동', '30', 'sindong@hong.com', '서울시 동작구', '']]

In [57]:
#""(따옴표)가 없는 데이터는 numeric으로
with open('data/ch09_member1.csv', 'r', encoding='utf-8') as f:
    reader = csv.reader(f, quoting = csv.QUOTE_NONNUMERIC)
    result = list(reader)
result

[['홍길동', 20.0, 'kildong@hong.com', '서울시 관악구'],
 ['김길동', 40.0, 'kimdong@hong.com', '서울시 영등포구'],
 ['신길동', 30.0, 'sindong@hong.com', '서울시 동작구']]

## 3.2 writer
- list -> csv로 저장

In [58]:
user_list = [['신길동', 30, 'sindong@hong.com', '서울시 관악구'],
             ['홍길동', 20, 'sindong@hong.com', '서울시 동작구'],
             ['박길동', 25, 'sindong@hong.com', '서울시 서초구']]

In [61]:
# newline='' 옵션 빼면 개행이 2번(python 3.10)
with open('data/ch09_member2-write.csv', 'w', newline='') as f:
    writer = csv.writer(f)
#     for user in uesr_list:
#         writer.writerow(user)
    writer.writerows(user_list)

## 3.3 DictReader
- CSV 파일을 딕셔너리 데이터로 읽기

In [62]:
#header가 있는 csv 파일을 딕셔너리로 읽기(ch09_member3.csv)
with open('data/ch09_member3.csv', 'r', encoding='utf-8') as f:
    dict_reader = csv.DictReader(f)
    result = list(dict_reader)
result

[{'name': '홍길동',
  'age': '20',
  'email': 'h@h.com',
  'address': '서울시 관악구',
  'job': None},
 {'name': '신길동',
  'age': '40',
  'email': 's@h.com',
  'address': '서울시 영등포구',
  'job': '팀장'},
 {'name': '김길동',
  'age': '30',
  'email': 'k@h.com',
  'address': '서울시 동작구',
  'job': None}]

In [63]:
#header가 있는 csv 파일을 딕셔너리로 읽기(ch09_member3.csv)
with open('data/ch09_member3.csv', 'r', encoding='utf-8') as f:
    dict_reader = csv.DictReader(f, restval='없음')
    for row in dict_reader:
        print(row)

{'name': '홍길동', 'age': '20', 'email': 'h@h.com', 'address': '서울시 관악구', 'job': '없음'}
{'name': '신길동', 'age': '40', 'email': 's@h.com', 'address': '서울시 영등포구', 'job': '팀장'}
{'name': '김길동', 'age': '30', 'email': 'k@h.com', 'address': '서울시 동작구', 'job': '없음'}

In [65]:
# csv 파일을 데이터프레임 데이터로 읽기
import pandas as pd
members = pd.read_csv('data/ch09_member3.csv') #기본 인코딩 방식이 utf-8
members

  name  age    email   address  job
0  홍길동   20  h@h.com   서울시 관악구  NaN
1  신길동   40  s@h.com  서울시 영등포구   팀장
2  김길동   30  k@h.com   서울시 동작구  NaN

In [66]:
type(members)

pandas.core.frame.DataFrame

In [67]:
pd.DataFrame(data=result)

  name age    email   address   job
0  홍길동  20  h@h.com   서울시 관악구  None
1  신길동  40  s@h.com  서울시 영등포구    팀장
2  김길동  30  k@h.com   서울시 동작구  None

In [69]:
# header가 없는 csv 파일을 딕셔너리 데이터로 읽기(ch09_member1-cp.csv)
with open('data/ch09_member1-cp.csv', 'r') as f:
    dict_reader = csv.DictReader(f, fieldnames=['name', 'age', 'email', 'address', 'job'])
    for row in dict_reader:
        print(row)

{'name': '홍길동', 'age': '20', 'email': 'kildong@hong.com', 'address': '서울시 관악구', 'job': ''}
{'name': '김길동', 'age': '40', 'email': 'kimdong@hong.com', 'address': '서울시 영등포구', 'job': '팀장'}
{'name': '신길동', 'age': '30', 'email': 'sindong@hong.com', 'address': '서울시 동작구', 'job': ''}

In [70]:
# header가 없는 csv 파일을 딕셔너리 데이터로 읽기(ch09_member1-cp.csv)
with open('data/ch09_member1-cp.csv', 'r') as f:
    dict_reader = csv.DictReader(f, fieldnames=['name', 'age', 'email', 'address'], restkey='job')
    for row in dict_reader:
        print(row)

{'name': '홍길동', 'age': '20', 'email': 'kildong@hong.com', 'address': '서울시 관악구', 'job': ['']}
{'name': '김길동', 'age': '40', 'email': 'kimdong@hong.com', 'address': '서울시 영등포구', 'job': ['팀장']}
{'name': '신길동', 'age': '30', 'email': 'sindong@hong.com', 'address': '서울시 동작구', 'job': ['']}

## 3.4 DictWriter
- 딕셔너리 데이터(딕셔너리 list)를 csv 파일로 쓰기

In [72]:
user1 = {'name': '신길동', 'age': '30', 'email': 'sg@hong.com', 'address': '서울'}
user2 = {'name': '홍길동', 'age': '20', 'email': 'ho@hong.com', 'address': '수원'}
user3 = {'name': '마길동', 'age': '25', 'email': 'ma@hong.com', 'address': '안양'}
user_list = [user1, user2, user3]
user_list

[{'name': '신길동', 'age': '30', 'email': 'sg@hong.com', 'address': '서울'},
 {'name': '홍길동', 'age': '20', 'email': 'ho@hong.com', 'address': '수원'},
 {'name': '마길동', 'age': '25', 'email': 'ma@hong.com', 'address': '안양'}]

In [74]:
fieldnames = list(user1.keys())
fieldnames

['name', 'age', 'email', 'address']

In [77]:
with open('data/ch09_member4.csv', 'w', encoding='utf-8', newline='') as f:
    dict_writer = csv.DictWriter(f, fieldnames=fieldnames)
    dict_writer.writeheader() # header 한줄 쓰기
    dict_writer.writerows(user_list)

# 4절 JSON 파일에 저장하고 불러오기(dump, load)
```
[{'title':'국가정보원 화재', 'url':'http://~', 'content':'무시기무시기~'},
{'title':'국가정보원 화재', 'url':'http://~', 'content':'무시기무시기~'},
{'title':'국가정보원 화재', 'url':'http://~', 'content':'무시기무시기~'}]
```

## 4.1 JSON dump(파일에 저장)
### 4.1.1 딕셔너리 list를 json파일로 저장

In [79]:
data = [{'name': '신길동', 'age': '30', 'email': 'sg@hong.com', 'address': '서울'},
        {'name': '홍길동', 'age': '20', 'email': 'ho@hong.com', 'address': '수원'},
        {'name': '마길동', 'age': '25', 'email': 'ma@hong.com', 'address': '안양'}]

In [84]:
import json
with open('data/ch09_member1.json', 'w') as jsonfile:
    json.dump(data, #딕셔너리 리스트
             jsonfile, #파일 스트림
             ensure_ascii=False, #ascii 코드를 벗어난 문자의 처리 방법, 기본 : True (ascii를 벗어난 글자는 유니코드로 저장)
             indent='  ')

### 4.1.2 객체 list를 json파일로 저장 (객체를 딕셔너리로 바꾸는 함수가 필요)

In [87]:
member_list = [Member('홍길동', 30, 'h@h.com', '서울'),
              Member('마길동', 25, 'm@h.com', '하남'),
              Member('박길동', 35, 'p@p.com', '대전')]
[member.__str__() for member in member_list]

['name : 홍길동, age : 30, email : h@h.com, address : 서울',
 'name : 마길동, age : 25, email : m@h.com, address : 하남',
 'name : 박길동, age : 35, email : p@p.com, address : 대전']

In [90]:
with open('data/ch09_member2.json', 'w', encoding='utf-8') as jsonfile:
    json.dump(member_list, #저장할 리스트 (객체 리스트)
             jsonfile,
             ensure_ascii=False,
             indent='  ',
             default=Member.as_dict) # 객체를 딕셔너리 형태로 return하는 함수

## 4.2 JSON load(파일 읽기)
### 4.2.1 json파일을 딕셔너리 리스트로 읽기

In [91]:
with open('data/ch09_member1.json', 'r') as jsonfile:
    load_data = json.load(jsonfile)
load_data

[{'name': '신길동', 'age': '30', 'email': 'sg@hong.com', 'address': '서울'},
 {'name': '홍길동', 'age': '20', 'email': 'ho@hong.com', 'address': '수원'},
 {'name': '마길동', 'age': '25', 'email': 'ma@hong.com', 'address': '안양'}]

In [92]:
type(load_data), type(load_data[0])

(list, dict)

### 4.2.2 json 파일을 객체 리스트로 읽기 (딕셔너리를 객체로 return하는 함수가 필요)

In [102]:
def as_member(dic):
    #return Member(dic.get('name'), dic.get('age'), dic.get('email'), dic.get('address'))
    return Member(**dic)

In [103]:
with open('data/ch09_member2.json', 'r', encoding='utf-8') as jsonfile:
    load_member_list = json.load(jsonfile,
                                object_hook=as_member) # 딕셔너리를 객체로 return 함수
[member.__str__() for member in load_member_list]

['name : 홍길동, age : 30, email : h@h.com, address : 서울',
 'name : 마길동, age : 25, email : m@h.com, address : 하남',
 'name : 박길동, age : 35, email : p@p.com, address : 대전']

In [105]:
# member_list => ch09_member2.json => load_member_list
s = []
for member, load_member in zip(member_list, load_member_list):
    s.append(member == load_member)
all(s)

True

In [111]:
import numpy as np
result = np.array([True, True, True, False, True])
np.where(result==False)

(array([3], dtype=int64),)

# 5절 hdf5파일 쓰기/읽기
- 딕셔너리 리스트, 데이터프레임, 딥러닝 모델
- 확장자 : *.hdf5, *.h5
- hdfviewer를 이용하여 저장된 데이터를 볼 수 있음

In [3]:
# seaborn : 파이썬에서 데이터 시각화를 도와주는 라이브러리로 자주 쓰이는 데이터 셋
import seaborn as sns
iris_df = sns.load_dataset('iris')
iris_df # 꽃받침길이, 꽃받침너비, 꽃잎길이, 꽃잎너비, 꽃의종

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
# 데이터프레임을 hdf파일로 쓰기
iris_df.to_hdf('data/ch09_irisdf.hdf5', key='iris')

In [6]:
# hdf파일에 저장된 데이터프레임 읽기
import pandas as pd
load_iris_df = pd.read_hdf('data/ch09_irisdf.hdf5', key='iris')
load_iris_df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [7]:
# 두 데이터프레임이 같은지 여부
iris_df.equals(load_iris_df)

True

# 연습문제
## 실습형 (고객관리 프로그램)
### 기능별 함수를 작성하세요

In [11]:
class Customer:
    '''
    고객을 나타내는 객체, 6가지의 정보를 저장한다
    name : 고객의 성함
    phone : 고객의 휴대번호
    email : 고객의 이메일
    age : 고객의 나이
    grade : 고객의 등급
    etc : 고객의 기타사항
    age와 grade는 정수로 저장되고 나머지는 문자열로 저장된다
    '''
    def __init__(self, name, phone, email, age, grade, etc=''):
        '''
        고객 객체를 초기화한다. 6가지 정보를 넣어야한다
        name : 고객의 성함
        phone : 고객의 휴대번호
        email : 고객의 이메일
        age : 고객의 나이
        grade : 고객의 등급
        etc : 고객의 기타사항(default=''(빈 string))
        '''
        self.name = name
        self.phone = phone
        self.email = email
        self.age = int(age)
        self.grade = int(grade)
        self.etc = etc
        
    def as_dic(self):
        '고객 정보를 딕셔너리로 변환하여 return'
        return self.__dict__
    def to_txt_style(self):
        '고객 정보를 "이름, 휴대번호, 이메일, 나이, 등급, 기타사항" 순의 텍스트 변환하여 return'
        return '{}, {}, {}, {}, {}, {}'.format(self.name, self.phone, self.email, self.age, self.grade, self.etc)
    def __str__(self):
        return ('{:>5} {:>4} {:14} {:25} {:3} {}'.format('*'*self.grade, self.name, self.phone, self.email, self.age, self.etc))

In [59]:
import re
import csv
def to_customer(row):
    '''
    txt 파일의 내용 한줄(row)를 Customer 객체로 변환
    row : (이름, 휴대번호, 이메일, 나이, 등급, 기타사항) 순의 튜플데이터
        나이와 등급은 int로 나머지는 string으로 받는다
    '''
    return Customer(*row)

def load_customers():
    '''
    data/ch09_customers.txt 파일의 고객 내용을 불러온다
    '''
    customer_list = []
    try:
        with open('data/ch09_customers.txt', 'r', encoding='utf-8') as f:
            lines = f.readlines()
            for line in lines:
                customer = to_customer(tuple(line.strip().split(', ')))
                customer_list.append(customer)
    except FileNotFoundError:
        with open('data/ch09_customers.txt', 'w', encoding='utf-8') as f:
            pass
    except Exception as e:
        #다른 오류
        print(e)

    return customer_list

In [16]:
def fn1_insert_customer_info():
    '새로운 고객을 추가합니다'
    while True:
        name = input('이름 : ').strip()
        if re.search(r'^[가-힣]{2,}$', name):
            break
        print('이름의 형식이 아닙니다. 다시 입력해주세요')
        
    while True:
        phone = input('전화번호(-를 꼭 사용해서 적어주세요) : ').strip()
        if re.search(r'^\d{2,3}\-\d{3,4}\-\d{4}$', phone):
            break
        print('전화번호의 형식이 아닙니다. 다시 입력해주세요')
        
    while True:
        email = input('이메일 : ').strip()
        if re.search(r'^\w+@\w+(\.\w+){1,2}$', email):
            break
        print('이메일의 형식이 아닙니다. 다시 입력해주세요')
        
    while True:
        age = input('나이 : ').strip()
        if age.isdigit():
            break
        print('나이가 숫자가 아닙니다. 다시 입력해주세요')
    
    while True:
        grade = input('고객등급(1~5) : ').strip()
        if grade.isdigit() and 1 <= int(grade) <= 5:
            break;
        print('고객등급이 숫자가 아니거나 범위를 벗어났습니다. 다시 입력해주세요')
    
    etc = input('기타 정보 : ').strip()
    
    return (name, phone, email, age, grade, etc)

In [17]:
customer_list = []
customer = fn1_insert_customer_info()
customer_list.append(customer)
fn2_print_customers(customer_list)

이름 : 이름 asdf
이름의 형식이 아닙니다. 다시 입력해주세요
이름 : 이름asdf
이름의 형식이 아닙니다. 다시 입력해주세요
이름 : asdf이름
이름의 형식이 아닙니다. 다시 입력해주세요
이름 : 이름
전화번호(-를 꼭 사용해서 적어주세요) : 010-1234-1234123
전화번호의 형식이 아닙니다. 다시 입력해주세요
전화번호(-를 꼭 사용해서 적어주세요) : 010-1234-1234
이메일 : a@hong.com
나이 : 123
고객등급(1~5) :
고객등급이 숫자가 아니거나 범위를 벗어났습니다. 다시 입력해주세요
고객등급(1~5) : 4
기타 정보 : adsf
======================================================================
                            고객정보
----------------------------------------------------------------------
GRADE 이름   전화             메일                     나이 기타
======================================================================
 ****   이름 010-1234-1234  a@hong.com                123 adsf
======================================================================

In [18]:
def fn2_print_customers(customer_list):
    '고객 리스트'
    print('='*70)
    print('{:^70}'.format('고객정보'))
    print('-'*70)
    print('{:>5} {:>4} {:14} {:25} {:3} {}'.format('GRADE', '이름', '전화', '메일', '나이', '기타'))
    print('='*70)
    for customer in customer_list:
        print(customer)
    print('='*70)

In [47]:
customer_list = [Customer('홍길동', '010-1234-2345', 'a@hong.com', '30', '4', 'vip'), 
                 Customer('홍길동', '010-1234-2335', 'b@hong.com', '20', '3'), 
                 Customer('김길동', '010-2234-2345', 'c@hong.com', '25', '2')]
fn2_print_customers(customer_list)

======================================================================
                            고객정보
----------------------------------------------------------------------
GRADE 이름   전화             메일                     나이 기타
======================================================================
 **** 홍길동  010-1234-2345  a@hong.com                 30 vip
  *** 홍길동  010-1234-2335  b@hong.com                 20
   ** 김길동  010-2234-2345  c@hong.com                 25
======================================================================

In [26]:
def fn3_delete_customer(customer_list):
    name = input('삭제할 고객 이름 : ').strip()
    idx_list = []
    for idx, customer in enumerate(customer_list):
        if customer.name == name:
            idx_list.append(idx)
    
    if len(idx_list) >= 2:
        fn2_print_customers([customer_list[idx] for idx in idx_list])
        print('{}님이 2명 이상입니다'.format(name))
        email = input('삭제할 {}님의 이메일 : '.format(name)).strip()
        del_index = -1
        for idx in idx_list:
            if customer_list[idx].email == email:
                del_index = idx_list[idx]
                break
        if del_index==-1:
            print('{}을 가진 {}님이 없습니다. 초기화면으로 돌아갑니다'.format(email, name))
            return
    elif len(idx_list) == 1:
        del_index = idx_list[0]
    else:
        print('{}님이 없습니다. 초기화면으로 돌아갑니다'.format(name))
        return
    
    fn2_print_customers([customer_list[del_index]])
    while True:
        check = input('정말 {}님을 삭제하시겠습니까?(Y/N) : '.format(name)).strip().upper()
        if check == 'Y':
            del customer_list[del_index]
            print('{}님을 삭제하였습니다. 초기화면으로 돌아갑니다'.format(name))
            return
        elif check == 'N':
            print('{}님을 삭제하지 않고 초기화면으로 돌아갑니다'.format(name))
            return
        else:
            print('Y 또는 N으로 답변해주세요')

In [29]:
customer_list = [Customer('홍길동', '010-1234-2345', 'a@hong.com', '30', '4', 'vip'), 
                 Customer('홍길동', '010-1234-2335', 'b@hong.com', '20', '3'), 
                 Customer('김길동', '010-2234-2345', 'c@hong.com', '25', '2')]
fn3_delete_customer(customer_list)
fn2_print_customers(customer_list)

삭제할 고객 이름 : 홍길동
======================================================================
                            고객정보
----------------------------------------------------------------------
GRADE 이름   전화             메일                     나이 기타
======================================================================
 ****  홍길동 010-1234-2345  a@hong.com                 30 vip
  ***  홍길동 010-1234-2335  b@hong.com                 20
======================================================================
홍길동님이 2명 이상입니다
삭제할 홍길동님의 이메일 : a@hong.com
======================================================================
                            고객정보
----------------------------------------------------------------------
GRADE 이름   전화             메일                     나이 기타
======================================================================
 ****  홍길동 010-1234-2345  a@hong.com                 30 vip
======================================================================
정말 홍길동님을 삭제하시겠습니까?(Y/N) : Y
홍길동님을 삭제하였습니다. 초기화면으로 돌아갑니다
======================================================================
                            고객정보
----------------------------------------------------------------------
GRADE 이름   전화             메일                     나이 기타
======================================================================
  ***  홍길동 010-1234-2335  b@hong.com                 20
   **  김길동 010-2234-2345  c@hong.com                 25
======================================================================

In [38]:
def fn4_search_customer(customer_list):
    list_=[]
    name = input('찾으실 고객 이름 : ').strip()
    for customer in customer_list:
        if customer.name == name:
            list_.append(customer)

    if len(list_) >= 2:
        fn2_print_customers(list_)
        print('{}님으로 검색된 고객이 2명 이상입니다'.format(name))
        email = input('찾으실 {}님의 이메일 : '.format(name)).strip()
        for customer in list_:
            if customer.email == email:
                list_ = [customer]
                break
        if len(list_) != 1:
            print('{} 이메일의 {}님을 찾을 수 없습니다. 초기화면으로 돌아갑니다'.format(email, name))
            return
    elif not list_:
        print('{}님을 찾을 수 없습니다. 초기화면으로 돌아갑니다'.format(name))
        return
    
    print('찾으신 고객의 정보를 출력합니다')
    fn2_print_customers(list_)

In [41]:
customer_list = [Customer('홍길동', '010-1234-2345', 'a@hong.com', '30', '4', 'vip'), 
                 Customer('홍길동', '010-1234-2335', 'b@hong.com', '20', '3'), 
                 Customer('김길동', '010-2234-2345', 'c@hong.com', '25', '2')]
fn4_search_customer(customer_list)

찾으실 고객 이름 : 장길동
장길동님을 찾을 수 없습니다. 초기화면으로 돌아갑니다

In [3]:
def fn5_save_customer_csv(customer_list):
    with open('data/ch09_customers.csv', 'w', encoding='utf-8', newline='') as f:
        dict_writer = csv.DictWriter(f, fieldnames=['name', 'phone', 'email', 'age', 'grade', 'etc'])
        dict_writer.writeheader()
        dict_writer.writerows([customer.as_dic() for customer in customer_list])

In [4]:
customer_list = [Customer('홍길동', '010-1234-2345', 'a@hong.com', '30', '4', 'vip'), Customer('홍길동', '010-1234-2345', 'b@hong.com', '20', '4')]
fn5_save_customer_csv(customer_list)

In [5]:
def fn9_save_customer_txt(customer_list):
    with open('data/ch09_customers.txt', 'w', encoding='utf-8') as f:
        f.writelines([customer.to_txt_style()+'\n' for customer in customer_list])
        f.writelines()

In [34]:
customer_list = [Customer('홍길동', '010-1234-2345', 'a@hong.com', '30', '4', 'vip'), Customer('홍길동', '010-1234-2345', 'b@hong.com', '20', '4')]
fn9_save_customer_txt(customer_list)

In [25]:
#전부 합쳐놓은 셀
import re
import csv
def to_customer(row):
    '''
    txt 파일의 내용 한줄(row)를 Customer 객체로 변환
    row : (이름, 휴대번호, 이메일, 나이, 등급, 기타사항) 순의 튜플데이터
        나이와 등급은 int로 나머지는 string으로 받는다
    '''
    return Customer(*row)

def load_customers():
    '''
    data/ch09_customers.txt 파일의 고객 내용을 불러온다
    '''
    customer_list = []
    try:
        with open('data/ch09_customers.txt', 'r', encoding='utf-8') as f:
            lines = f.readlines()
            for line in lines:
                customer = to_customer(tuple(line.strip().split(', ')))
                customer_list.append(customer)
    except FileNotFoundError:
        with open('data/ch09_customers.txt', 'w', encoding='utf-8') as f:
            pass
    except Exception as e:
        #다른 오류
        print(e)
    return customer_list

def fn1_insert_customer_info():
    '새로운 고객을 추가합니다'
    while True:
        name = input('이름 : ').strip()
        if re.search(r'[가-힣]{2,}', name):
            break
        print('이름의 형식이 아닙니다. 다시 입력해주세요')
        
    while True:
        phone = input('전화번호(-를 꼭 사용해서 적어주세요) : ').strip()
        if re.search(r'\d{2,3}\-\d{3,4}\-\d{4}', phone):
            break
        print('전화번호의 형식이 아닙니다. 다시 입력해주세요')
        
    while True:
        email = input('이메일 : ').strip()
        if re.search(r'\w+@\w+(\.\w+){1,2}', email):
            break
        print('이메일의 형식이 아닙니다. 다시 입력해주세요')
        
    while True:
        age = input('나이 : ').strip()
        if age.isdigit():
            break
        print('나이가 숫자가 아닙니다. 다시 입력해주세요')
    
    while True:
        grade = input('고객등급(1~5) : ').strip()
        if grade.isdigit() and 1 <= int(grade) <= 5:
            break;
        print('고객등급이 숫자가 아니거나 범위를 벗어났습니다. 다시 입력해주세요')
    
    etc = input('기타 정보 : ').strip()
    
    return Customer(name, phone, email, age, grade, etc)

def fn2_print_customers(customer_list):
    '고객 리스트'
    print('='*70)
    print('{:^60}'.format('고객정보'))
    print('-'*70)
    print('GRADE 이름   전화             메일                     나이 기타')
    print('='*70)
    for customer in customer_list:
        print(customer)
    print('='*70)

def fn3_delete_customer(customer_list):
    name = input('삭제할 고객 이름 : ').strip()
    idx_list = []
    for idx, customer in enumerate(customer_list):
        if customer.name == name:
            idx_list.append(idx)
    
    if len(idx_list) >= 2:
        fn2_print_customers([customer_list[idx] for idx in idx_list])
        print('{}님이 2명 이상입니다'.format(name))
        email = input('삭제할 {}님의 이메일 : '.format(name)).strip()
        del_index = -1
        for idx in idx_list:
            if customer_list[idx].email == email:
                del_index = idx_list[idx]
                break
        if del_index==-1:
            print('{}을 가진 {}님이 없습니다. 초기화면으로 돌아갑니다'.format(email, name))
            return
    elif len(idx_list) == 1:
        del_index = idx_list[0]
    else:
        print('{}님이 없습니다. 초기화면으로 돌아갑니다'.format(name))
        return
    
    fn2_print_customers([customer_list[del_index]])
    while True:
        check = input('정말 {}님을 삭제하시겠습니까?(Y/N) : '.format(name)).strip().upper()
        if check == 'Y':
            del customer_list[del_index]
            print('{}님을 삭제하였습니다. 초기화면으로 돌아갑니다'.format(name))
            return
        elif check == 'N':
            print('{}님을 삭제하지 않고 초기화면으로 돌아갑니다'.format(name))
            return
        else:
            print('Y 또는 N으로 답변해주세요')
            
def fn4_search_customer(customer_list):
    list_=[]
    name = input('찾으실 고객 이름 : ').strip()
    for customer in customer_list:
        if customer.name == name:
            list_.append(customer)

    if len(list_) >= 2:
        fn2_print_customers(list_)
        print('{}님으로 검색된 고객이 2명 이상입니다'.format(name))
        email = input('찾으실 {}님의 이메일 : '.format(name)).strip()
        for customer in list_:
            if customer.email == email:
                list_ = [customer]
                break
        if len(list_) != 1:
            print('{} 이메일의 {}님을 찾을 수 없습니다. 초기화면으로 돌아갑니다'.format(email, name))
            return
    elif not list_:
        print('{}님을 찾을 수 없습니다. 초기화면으로 돌아갑니다'.format(name))
        return
    
    print('찾으신 고객의 정보를 출력합니다')
    fn2_print_customers(list_)
    
def fn5_save_customer_csv(customer_list):
    with open('data/ch09_customers.csv', 'w', encoding='utf-8', newline='') as f:
        dict_writer = csv.DictWriter(f, fieldnames=['name', 'phone', 'email', 'age', 'grade', 'etc'])
        dict_writer.writeheader()
        dict_writer.writerows([customer.as_dic() for customer in customer_list])
        
def fn9_save_customer_txt(customer_list):
    with open('data/ch09_customers.txt', 'w', encoding='utf-8') as f:
        f.writelines([customer.to_txt_style()+'\n' for customer in customer_list])

In [30]:
def main():
    global customer_list
    customer_list = load_customers()
    while True:
        print("1:입력 ","2:전체출력 ","3:삭제 ","4:이름찾기 ","5:내보내기 (CSV)", "9:종료", sep=' | ', end='')
        fn = int(input('메뉴선택: '))
        if fn == 1:
            customer = fn1_insert_customer_info()
            customer_list.append(customer)
        elif fn == 2:
            fn2_print_customers(customer_list)
        elif fn == 3:
            fn3_delete_customer(customer_list)
        elif fn == 4:
            fn4_search_customer(customer_list)
        elif fn == 5:
            fn5_save_customer_csv(customer_list)
        elif fn == 9:
            fn9_save_customer_txt(customer_list)
            break
if __name__ == '__main__':
    main()

invalid literal for int() with base 10: '1,'
1:입력  | 2:전체출력  | 3:삭제  | 4:이름찾기  | 5:내보내기 (CSV) | 9:종료메뉴선택: 2
======================================================================
                            고객정보
----------------------------------------------------------------------
GRADE 이름   전화             메일                     나이 기타
======================================================================
 ****  홍길동 010-1234-2345  a@hong.com                 30 vip
======================================================================
1:입력  | 2:전체출력  | 3:삭제  | 4:이름찾기  | 5:내보내기 (CSV) | 9:종료메뉴선택: 3
삭제할 고객 이름 : 홍길동
======================================================================
                            고객정보
----------------------------------------------------------------------
GRADE 이름   전화             메일                     나이 기타
======================================================================
 ****  홍길동 010-1234-2345  a@hong.com                 30 vip
======================================================================
정말 홍길동님을 삭제하시겠습니까?(Y/N) : Y
홍길동님을 삭제하였습니다. 초기화면으로 돌아갑니다
1:입력  | 2:전체출력  | 3:삭제  | 4:이름찾기  | 5:내보내기 (CSV) | 9:종료메뉴선택: 9

# 문제풀이형
### 1. 다음 중 open 함수에 대해 잘못 설명한 것은?
- ① 함수가 반환되는 것은 열린 파일 객체이다.
- ② 파일을 열때 사용하는 모드는 읽기(r), 쓰기(w), 추가(a), 바이너리(b) 모드가 있다
- ③ 바이너리(b) 모드와 쓰기(w) 모드는 같이 사용할 수 없다
- ④ 파일의 인코딩은 encoding 속성을 이용해 설정할 수 있다.

<font size='4'>3번, 'wb' : 바이너리로 쓰기 가능 (pickle 파일을 열때)</font>

### 2. 피클링(pickling)에 대해 잘 못 설명한 것은?
- ① 파이썬의 객체 직렬화 (Object Serialization) 방법이다.
- ② pickle 모듈의 dump()와 load() 함수를 이용해 객체를 쓰고 읽는다.
- ③ 파이썬 객체를 별도의 텍스트 변환과정 없이 파일에 직접 쓰고 읽는 것을 의미한다.
- ④ 피클링하기 위한 모드는 쓰기모드('w')여야 한다.

<font size='4'>4번, 피클링을 위한 모드는 'wb' : 바이너리로 쓰기</font>

### 3. 다음 중 파이썬의 입/출력 모듈에 대한 설명 중 잘못된것은?
- ① Pandas 패키지를 이용하면 리스트 데이터를 쉽게 파일에 쓰고 읽을 수 있다.
- ② json 모듈의 dump(), load() 함수를 이용해 JSON 데이터를 파일에 읽고 쓸 수 있다.
- ③ h5py 모듈의 File 클래스를 이용해 HDF5 데이터를 파일에 읽고 쓸 수 있다.
- ④ csv 모듈의 reader(), writer() 함수를 이용해 CSV 파일을 읽고 쓸수 있다.

<font size='4'>1번 : pandas는 데이터프레임을 할때 사용하기에 리스트는 pandas를 잘 사용 안함</font>