In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input{font-family:Consolas; font-size:12pt;}
div.prompt {min width:70px;}
div#toc-wrapper {padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe {font-size:12px;}
</style>
"""))

In [3]:
import pandas as pd

In [5]:
power_df = pd.read_csv('C:/Users/Admin/Downloads/법정동별시간별전력사용량.csv')
power_df.head()

   SIGUNGU_CD  BJDONG_CD    USE_YM  USE_HM  FDRCT_VLD_KWH
0       11650      10700  20220628     100     10782.0565
1       11650      10800  20220628     100     11394.8635
2       11650      10900  20220628     100      7273.9620
3       11740      10300  20220628     100     11008.8110
4       11710      11300  20220628     100      2905.1120

In [6]:
power_df.columns = ['SGGCD', 'BJDCD', 'Date', 'Hr', 'Power']
power_df.head()

   SGGCD  BJDCD      Date   Hr       Power
0  11650  10700  20220628  100  10782.0565
1  11650  10800  20220628  100  11394.8635
2  11650  10900  20220628  100   7273.9620
3  11740  10300  20220628  100  11008.8110
4  11710  11300  20220628  100   2905.1120

In [22]:
power_df['Hr'].value_counts()

100     407116
500     407113
400     407112
300     407107
200     407106
1200    407105
600     407103
800     407103
700     407102
1300    407100
1000    407097
900     407097
1400    407095
1500    407087
1100    407086
1600    406988
1800    406869
1700    406855
1900    405524
2100    404746
2000    404704
2200    404479
2400    404056
2300    404054
Name: Hr, dtype: int64

In [26]:
power_df.groupby(by=['SGGCD', 'BJDCD', 'Date']).sum().to_csv('check.csv')

In [45]:
check

         SGGCD  BJDCD      Date    Hr   Power
4126106  11110  10300  20230811   100  26.568
4126182  11110  10300  20230811   100  26.568
4126216  11110  10300  20230811   100  26.568
4126331  11110  10300  20230811   100  26.568
4127972  11110  10300  20230811   200  24.590
...        ...    ...       ...   ...     ...
4165822  11110  10300  20230811  2300  24.458
4168976  11110  10300  20230811  2400  24.999
4169061  11110  10300  20230811  2400  24.999
4169092  11110  10300  20230811  2400  24.999
4169199  11110  10300  20230811  2400  24.999

[96 rows x 5 columns]

In [44]:
check = power_df[(power_df['BJDCD']==10300) & (power_df['Date']==20230811) & (power_df['SGGCD']==11110)]
check.drop_duplicates()

         SGGCD  BJDCD      Date    Hr   Power
4126106  11110  10300  20230811   100  26.568
4127972  11110  10300  20230811   200  24.590
4129841  11110  10300  20230811   300  23.208
4131703  11110  10300  20230811   400  21.833
4132126  11110  10300  20230811   500  20.311
4135431  11110  10300  20230811   600  20.618
4137295  11110  10300  20230811   700  24.490
4139160  11110  10300  20230811   800  32.741
4141022  11110  10300  20230811   900  32.352
4142876  11110  10300  20230811  1000  40.100
4143299  11110  10300  20230811  1100  45.071
4146607  11110  10300  20230811  1200  45.466
4148470  11110  10300  20230811  1300  47.511
4150364  11110  10300  20230811  1400  43.213
4152220  11110  10300  20230811  1500  40.113
4154053  11110  10300  20230811  1600  28.133
4154471  11110  10300  20230811  1700  34.548
4157812  11110  10300  20230811  1800  34.421
4159678  11110  10300  20230811  1900  33.766
4161514  11110  10300  20230811  2000  32.045
4163378  11110  10300  20230811  2100  33.929
4165245  11110  10300  20230811  2200  27.378
4165660  11110  10300  20230811  2300  24.458
4168976  11110  10300  20230811  2400  24.999

In [28]:
power_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9754804 entries, 0 to 9754803
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   SGGCD   int64
 1   BJDCD   int64
 2   Date    int64
 3   Hr      int64
 4   Power   float64
dtypes: float64(1), int64(4)
memory usage: 372.1 MB

In [46]:
power_df[(power_df['BJDCD']==10300) & (power_df['Date']==20240120) & (power_df['SGGCD']==11110)]

         SGGCD  BJDCD      Date    Hr   Power
9604364  11110  10300  20240120   100  15.968
9605066  11110  10300  20240120   200   9.620
9605758  11110  10300  20240120   300   0.189
9607031  11110  10300  20240120   500   0.189
9607848  11110  10300  20240120   600   0.188
9608539  11110  10300  20240120   700   0.189
9609930  11110  10300  20240120   900   0.190
9611999  11110  10300  20240120  1200   0.199
9612693  11110  10300  20240120  1300   0.193
9616146  11110  10300  20240120  1800  14.866
9616853  11110  10300  20240120  1900  28.672
9617539  11110  10300  20240120  2000  28.509
9618239  11110  10300  20240120  2100  28.228
9618817  11110  10300  20240120  2200  27.339
9619639  11110  10300  20240120  2300  27.188
9620338  11110  10300  20240120  2400  26.247

In [49]:
power_drop_dup = power_df.drop_duplicates()
power_drop_dup

         SGGCD  BJDCD      Date    Hr       Power
0        11650  10700  20220628   100  10782.0565
1        11650  10800  20220628   100  11394.8635
2        11650  10900  20220628   100   7273.9620
3        11740  10300  20220628   100  11008.8110
4        11710  11300  20220628   100   2905.1120
...        ...    ...       ...   ...         ...
9754791  11110  16800  20240128  2400   2497.7400
9754792  11110  16900  20240128  2400   1473.3340
9754795  11110  17100  20240128  2400    775.8270
9754796  11110  16700  20240128  2400    738.6430
9754801  11110  14300  20240128  2400    146.8840

[4348560 rows x 5 columns]

In [50]:
power_df.shape, power_drop_dup.shape

((9754804, 5), (4348560, 5))

In [54]:
power_day_df = power_drop_dup.groupby(by=['SGGCD', 'BJDCD', 'Date']).sum().reset_index()
power_day_df.shape

(181408, 5)

In [59]:
power_day_df[power_day_df['Hr']!=30000]

        SGGCD  BJDCD      Date     Hr        Power
63      11110  10100  20230221  25300  131142.7905
284     11110  10100  20231213  19000  103965.8580
393     11110  10200  20230221  25300   10058.4040
614     11110  10200  20231213  17100    9695.2210
660     11110  10300  20221204  28700       9.5280
...       ...    ...       ...    ...          ...
180693  11740  10900  20230221  25300  299085.4330
180914  11740  10900  20231213  19000  183994.8510
181005  11740  11000  20220826  13600   69473.2610
181141  11740  11000  20230221  23100  110704.5700
181362  11740  11000  20231213  17100   71056.9990

[1207 rows x 5 columns]

In [65]:
power_df[(power_df['BJDCD']==10900) & (power_df['Date']==20231213) & (power_df['SGGCD']==11740)]

         SGGCD  BJDCD      Date    Hr      Power
8878104  11740  10900  20231213   100  8111.1875
8878176  11740  10900  20231213   100  8111.1875
8878594  11740  10900  20231213   100  8111.1875
8878625  11740  10900  20231213   100  8111.1875
8879246  11740  10900  20231213   100  8111.1875
...        ...    ...       ...   ...        ...
8915534  11740  10900  20231213  1900     1.1805
8915709  11740  10900  20231213  1900     1.1805
8915803  11740  10900  20231213  1900     1.1805
8915916  11740  10900  20231213  1900     1.1805
8915931  11740  10900  20231213  1900     1.1805

[114 rows x 5 columns]

In [73]:
SGG_BJD_df = pd.read_excel('C:/Users/Admin/Downloads/법정동코드 조회자료.xls')

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd.