In [2]:
import pandas as pd

In [3]:
chunks = pd.read_json('C:/ai/downloads/project/data/yelp_dataset-2/yelp_academic_dataset_review.json', lines=True, chunksize=10000)

In [4]:
pd_reviews = pd.concat(chunks)
pd_reviews.shape

(6990280, 9)

In [6]:
chunks = pd.read_json('C:/ai/downloads/project/data/yelp_dataset-2/yelp_academic_dataset_business.json', lines=True, chunksize=10000)

In [7]:
pd_business = pd.concat(chunks)
pd_business.shape

(150346, 14)

In [8]:
pd_business['state'].value_counts()

PA     34039
FL     26330
TN     12056
IN     11247
MO     10913
LA      9924
AZ      9912
NJ      8536
NV      7715
AB      5573
CA      5203
ID      4467
DE      2265
IL      2145
TX         4
CO         3
WA         2
HI         2
MA         2
NC         1
UT         1
MT         1
MI         1
SD         1
XMS        1
VI         1
VT         1
Name: state, dtype: int64

In [10]:
pa_business = pd_business[pd_business['state']=='PA']
pa_business.shape

(34039, 14)

In [15]:
"MTSW4McQd7CbVtyjqoe9mw" in pa_business['business_id'].to_list()

True

In [30]:
pa_reviews = pd_reviews[pd_reviews['business_id'].isin(pa_business['business_id'].to_list())]
pa_reviews.shape

(1598960, 9)

In [42]:
len(pa_reviews['user_id'].unique())

430688

In [44]:
pa_reviews['user_id'].value_counts()

_BcWyKQL16ndpBdggh2kNA    2822
ET8n-r7glWYqZhuR6GcdNw    1327
bJ5FtCtZX3ZZacz2_2PJjA    1289
-G7Zkl1wIWBBmD0KRy_sCw    1288
ouODopBKF3AqfCkuQEnrDg    1114
                          ...
toZR5Wd5oWaiNkNkx0rRQg       1
zKGBak3QfcNYUmA0k9dTKA       1
-ieDHnX617xHCV8A_4JrkA       1
LfPtI0ZBc_xLFhSQbLyNlg       1
-AkziDwQ8hv2COTDBBUpig       1
Name: user_id, Length: 430688, dtype: int64

In [45]:
pa_reviews['user_id'].value_counts()['_BcWyKQL16ndpBdggh2kNA']

2822

In [49]:
counts = pa_reviews['user_id'].value_counts()
counts

_BcWyKQL16ndpBdggh2kNA    2822
ET8n-r7glWYqZhuR6GcdNw    1327
bJ5FtCtZX3ZZacz2_2PJjA    1289
-G7Zkl1wIWBBmD0KRy_sCw    1288
ouODopBKF3AqfCkuQEnrDg    1114
                          ...
toZR5Wd5oWaiNkNkx0rRQg       1
zKGBak3QfcNYUmA0k9dTKA       1
-ieDHnX617xHCV8A_4JrkA       1
LfPtI0ZBc_xLFhSQbLyNlg       1
-AkziDwQ8hv2COTDBBUpig       1
Name: user_id, Length: 430688, dtype: int64

In [66]:
counts[counts>=10]

_BcWyKQL16ndpBdggh2kNA    2822
ET8n-r7glWYqZhuR6GcdNw    1327
bJ5FtCtZX3ZZacz2_2PJjA    1289
-G7Zkl1wIWBBmD0KRy_sCw    1288
ouODopBKF3AqfCkuQEnrDg    1114
                          ...
HOJpBqg-x58w2TPc3B8GFg      10
kNmVQUglct8dmS10HvW5mw      10
ZM-1-RcIAOmkFRe8ikS6Kw      10
4QagJceUQDAzfxbdYhvflw      10
Xy6F0Gj8hZhaoef8E42Mlg      10
Name: user_id, Length: 27878, dtype: int64

In [73]:
reviews_10 = pa_reviews[pa_reviews['user_id'].isin(counts[counts>=10].index)]
reviews_10

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
13,8JFGBuHMoiNDyfcxuWNtrA,smOvOajNG0lS4Pq7d8g4JQ,RZtGWDLCAtuipwaZ-UfjmQ,4,0,0,0,Good food--loved the gnocchi with marinara\nth...,2009-10-14 19:57:14
19,Xs8Z8lmKkosqW5mw_sVAoA,IQsF3Rc6IgCzjVV9DE8KXg,eFvzHawVJofxSnD7TgbZtg,5,0,0,0,My absolute favorite cafe in the city. Their b...,2014-11-12 15:30:27
22,J-4NdnDZ0pUQaUEEwDI9KQ,vrKkXsozqqecF3CW4cGaVQ,rjuWz_AD3WfXJc03AhIO_w,5,2,2,2,I thoroughly enjoyed the show. Chill way to s...,2012-12-04 16:46:20
26,G_5UczbCBJriUAbxz3J7Tw,clWLI5OZP2ad25ugMVI8gg,x4XdNhp0Xn8lOivzc77J-g,5,0,0,0,Best thai food in the area. Everything was au...,2013-08-15 15:27:51
...,...,...,...,...,...,...,...,...,...
6990260,nLjbVsETpqO17RbFcqskkA,am7-gkH_PDz598oTdYSD6A,3gVSrS4kffGGZT8oXHsIcw,3,2,0,2,"*Later Yelp* I've only been here once, but I l...",2014-11-03 14:45:46
6990265,KlHxcAifUF5zDKpJCBrRsw,7ziWZULyiZv2TesYNMFf4g,qQO7ErS_RAN4Vs1uX0L55Q,4,1,0,0,"ice cream! ice cream sodas, sundaes!! \n\nwant...",2012-10-21 04:08:40
6990269,cACxcUY_AIsQKkpDRXuqnw,MCzlzlOw7IGbRAKVjJBPtg,fcGexL5VH5G2Xw0tRj9uOQ,3,1,1,0,This is a good pizza option - they deliver thr...,2018-03-13 13:54:48
6990272,wD5ZWao_vjyT2h4xmGam8Q,7L7GL5Pi2cf8mbm2Dpw4zw,e_E-jq9mwm7wk75k7Yi-Xw,5,1,0,1,It is very rare for a restaurant to be this go...,2022-01-17 22:36:01
6990277,YNfNhgZlaaCO5Q_YJR4rEw,mm6E4FbCMwJmb7kPDZ5v2Q,R1khUUxidqfaJmcpmGd4aw,4,1,0,0,This Home Depot won me over when I needed to g...,2019-12-30 03:56:30

In [75]:
reviews_10 = reviews_10[['user_id', 'business_id', 'stars', 'date', 'text']]
reviews_10.head()

,user_id,business_id,stars,date,text
0,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,2018-07-07 22:09:11,"If you decide to eat here, just be aware it is..."
13,smOvOajNG0lS4Pq7d8g4JQ,RZtGWDLCAtuipwaZ-UfjmQ,4,2009-10-14 19:57:14,Good food--loved the gnocchi with marinara\nth...
19,IQsF3Rc6IgCzjVV9DE8KXg,eFvzHawVJofxSnD7TgbZtg,5,2014-11-12 15:30:27,My absolute favorite cafe in the city. Their b...
22,vrKkXsozqqecF3CW4cGaVQ,rjuWz_AD3WfXJc03AhIO_w,5,2012-12-04 16:46:20,I thoroughly enjoyed the show. Chill way to s...
26,clWLI5OZP2ad25ugMVI8gg,x4XdNhp0Xn8lOivzc77J-g,5,2013-08-15 15:27:51,Best thai food in the area. Everything was au...

In [85]:
pa_business['categories'].str.split(', ')

3         [Restaurants, Food, Bubble Tea, Coffee & Tea, ...
4                               [Brewpubs, Breweries, Food]
15                      [Sushi Bars, Restaurants, Japanese]
19                                    [Korean, Restaurants]
25        [Pet Services, Pet Groomers, Pets, Veterinarians]
                                ...
150325    [Restaurants, Sandwiches, Convenience Stores, ...
150326             [Real Estate, Apartments, Home Services]
150329        [Day Spas, Beauty & Spas, Skin Care, Massage]
150334    [Health & Medical, Yoga, Shopping, Naturopathi...
150336                               [Restaurants, Mexican]
Name: categories, Length: 34039, dtype: object

In [123]:
pa_business

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."
15,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106,39.953949,-75.143226,4.0,245,1,"{'RestaurantsReservations': 'True', 'Restauran...","Sushi Bars, Restaurants, Japanese","{'Tuesday': '13:30-22:0', 'Wednesday': '13:30-..."
19,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147,39.943223,-75.162568,4.5,205,1,"{'NoiseLevel': 'u'quiet'', 'GoodForMeal': '{'d...","Korean, Restaurants","{'Monday': '11:30-20:30', 'Tuesday': '11:30-20..."
25,PSo_C1Sfa13JHjzVNW6ziQ,Indian Walk Veterinary Center,662 Durham Rd,Newtown,PA,18940,40.273493,-74.987496,5.0,15,1,None,"Pet Services, Pet Groomers, Pets, Veterinarians","{'Monday': '8:0-19:0', 'Tuesday': '8:0-19:0', ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150325,l9eLGG9ZKpLJzboZq-9LRQ,Wawa,19 N Bishop Ave,Clifton Heights,PA,19018,39.925656,-75.310344,3.0,11,1,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Restaurants, Sandwiches, Convenience Stores, C...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
150326,JDM7kiCEmeBc_5W-z6eZZw,2601 Parkway Apartments,2601 Pennsylvania Ave,Philadelphia,PA,19130,39.968806,-75.180608,3.0,6,1,{'BusinessAcceptsCreditCards': 'True'},"Real Estate, Apartments, Home Services",None
150329,9U1Igcpe954LoWZRmNc-zg,Hand & Stone Massage And Facial Spa,"1100 S Columbus Blvd, Ste 24",Philadelphia,PA,19147,39.932756,-75.144504,3.0,32,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Day Spas, Beauty & Spas, Skin Care, Massage","{'Monday': '9:0-22:0', 'Tuesday': '9:0-22:0', ..."
150334,LJ4GjQ1HL6kqvIPpNUNNaQ,Shanti Yoga and Ayurveda,"1638 Pine St, Fl 1",Philadelphia,PA,19103,39.945966,-75.169666,4.5,39,1,"{'ByAppointmentOnly': 'True', 'GoodForKids': '...","Health & Medical, Yoga, Shopping, Naturopathic...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
150336,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,PA,19147,39.935982,-75.158665,4.5,35,1,"{'WheelchairAccessible': 'False', 'Restaurants...","Restaurants, Mexican","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."

In [124]:
def resInCategories(series):
    if series['categories']==None:
        return False
    return 'Restaurants' in series['categories'].split(', ')

resInCategories(pa_business.iloc[2])

True

In [125]:
pa_restaurants = pa_business[pa_business.apply(resInCategories, axis=1)]
pa_restaurants

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
15,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,205 Race St,Philadelphia,PA,19106,39.953949,-75.143226,4.0,245,1,"{'RestaurantsReservations': 'True', 'Restauran...","Sushi Bars, Restaurants, Japanese","{'Tuesday': '13:30-22:0', 'Wednesday': '13:30-..."
19,ROeacJQwBeh05Rqg7F6TCg,BAP,1224 South St,Philadelphia,PA,19147,39.943223,-75.162568,4.5,205,1,"{'NoiseLevel': 'u'quiet'', 'GoodForMeal': '{'d...","Korean, Restaurants","{'Monday': '11:30-20:30', 'Tuesday': '11:30-20..."
28,QdN72BWoyFypdGJhhI5r7g,Bar One,767 S 9th St,Philadelphia,PA,19147,39.939825,-75.157447,4.0,65,0,"{'Smoking': 'u'no'', 'NoiseLevel': 'u'average'...","Cocktail Bars, Bars, Italian, Nightlife, Resta...","{'Monday': '16:0-0:0', 'Tuesday': '16:0-0:0', ..."
31,Mjboz24M9NlBeiOJKLEd_Q,DeSandro on Main,4105 Main St,Philadelphia,PA,19127,40.022466,-75.218314,3.0,41,0,"{'RestaurantsReservations': 'False', 'Caters':...","Pizza, Restaurants, Salad, Soup","{'Tuesday': '17:0-21:30', 'Wednesday': '17:0-1..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150298,gPr1io7ks0Eo3FDsnDTYfg,Tata Cafe,7201 Germantown Ave,Philadelphia,PA,19119,40.060414,-75.191084,4.0,21,0,"{'RestaurantsGoodForGroups': 'True', 'Business...","Sandwiches, Restaurants, Italian","{'Monday': '7:0-17:0', 'Tuesday': '7:0-17:0', ..."
150306,wVxXRFf10zTTAs11nr4xeA,PrimoHoagies,6024 Ridge Ave,Philadelphia,PA,19128,40.032483,-75.214430,3.0,55,1,"{'NoiseLevel': 'u'average'', 'RestaurantsTakeO...","Restaurants, Specialty Food, Food, Sandwiches,...","{'Monday': '10:0-21:0', 'Tuesday': '10:0-21:0'..."
150319,8n93L-ilMAsvwUatarykSg,Kitchen Gia,3716 Spruce St,Philadelphia,PA,19104,39.951018,-75.198240,3.0,22,0,"{'RestaurantsGoodForGroups': 'True', 'BikePark...","Coffee & Tea, Food, Sandwiches, American (Trad...","{'Monday': '9:0-19:30', 'Tuesday': '9:0-19:30'..."
150325,l9eLGG9ZKpLJzboZq-9LRQ,Wawa,19 N Bishop Ave,Clifton Heights,PA,19018,39.925656,-75.310344,3.0,11,1,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Restaurants, Sandwiches, Convenience Stores, C...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
150336,WnT9NIzQgLlILjPT0kEcsQ,Adelita Taqueria & Restaurant,1108 S 9th St,Philadelphia,PA,19147,39.935982,-75.158665,4.5,35,1,"{'WheelchairAccessible': 'False', 'Restaurants...","Restaurants, Mexican","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."

In [138]:
def len_categroies(string):
    return len(string.split(', '))

pa_restaurants[pa_restaurants['categories'].map(len_categroies)==36]

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
143157,ytynqOUb3hjKeJfRj5Tshw,Reading Terminal Market,51 N 12th St,Philadelphia,PA,19107,39.953341,-75.158855,4.5,5721,1,"{'RestaurantsGoodForGroups': 'True', 'Restaura...","Candy Stores, Shopping, Department Stores, Fas...","{'Monday': '8:0-18:0', 'Tuesday': '8:0-18:0', ..."

In [144]:
pa_restaurants = pa_restaurants[pa_restaurants['is_open']==1]
pa_restaurants.shape

(8069, 14)

In [145]:
reviews_10 = reviews_10[reviews_10['business_id'].isin(pa_restaurants['business_id'].unique())]
reviews_10.shape

(436083, 5)

In [147]:
len(reviews_10['user_id'].unique())

27780