In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input{font-family:Consolas; font-size:12pt;}
div.prompt {min width:70px;}
div#toc-wrapper {padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe {font-size:12px;}
</style>
"""))

# 1. 데이터 셋 가져오기

In [10]:
import pandas as pd
df = pd.read_csv('../01_python/data/ch13_df(결측치처리후).csv')
df

     지역명   평당분양가격    연도   월
0     서울  18189.0  2013  12
1     부산   8111.0  2013  12
2     대구   8080.0  2013  12
3     인천  10204.0  2013  12
4     광주   6098.0  2013  12
...   ..      ...   ...  ..
2171  전북  12058.2  2024   8
2172  전남  13120.8  2024   8
2173  경북  13827.0  2024   8
2174  경남  13252.8  2024   8
2175  제주  25419.9  2024   8

[2176 rows x 4 columns]

- 지역명2 : 지역명필드를 라벨인코딩하여 추가
- 독립변수 : 지역명2, 연도, 월
- 타겟변수 : 평당분양가격
- 독립변수와 타겟변수의 스케일 조정
    - 표준화, 정규화 둘다 해보기
    - 정규화 작업후 : 지역명2m, 연도m, 월m
    - 표준화 작업후 : 지역명2s, 연도s, 월s

# 2. 지역명의 라벨인코딩
- 지역명2

In [15]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['지역명2'] = le.fit_transform(df['지역명'])
df

     지역명   평당분양가격    연도   월  지역명2
0     서울  18189.0  2013  12     8
1     부산   8111.0  2013  12     7
2     대구   8080.0  2013  12     5
3     인천  10204.0  2013  12    11
4     광주   6098.0  2013  12     4
...   ..      ...   ...  ..   ...
2171  전북  12058.2  2024   8    13
2172  전남  13120.8  2024   8    12
2173  경북  13827.0  2024   8     3
2174  경남  13252.8  2024   8     2
2175  제주  25419.9  2024   8    14

[2176 rows x 5 columns]

# 3. MinMaxScale 조정

In [21]:
# 독립변수 지역명2, 연도, 월
X = df[['지역명2', '연도', '월']].values
X.shape

(2176, 3)

In [29]:
X[:,0].shape

(2176,)

In [20]:
# 타겟변수 지정
y_data = df['평당분양가격'].values
y_data.shape

(2176,)

# 4. standardScale 조정