In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input{font-family:Consolas; font-size:12pt;}
div.prompt {min width:70px;}
div#toc-wrapper {padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe {font-size:12px;}
</style>
"""))

<b><font size="6" color="red">ch02. 자료형과 연산자</font></b>
# 1절 변수
- 변수 : 프로그램 작업 처리를 위해, 값을 저장할 수 있는 메모리 공간
- 파이썬은 변수 선언을 위한 타입이 없고, 별도의 선언 과정도 없음

## 1.1 변수 할당
- 할당 연산자(=)을 이용해서 값을 할당하면 자료형(타입)이 셋팅
- **파이썬에서의 모든 변수는 객체로 저장(레퍼런스 변수)**
 - 객체 : 값과 함수가 같이 있는것
 - 변수에는 주소가 저장이되고 주소에 가면 변수의 값과 해당 자료형에 따른 함수들이 저장이 된다
 - 변수의 값을 재할당을 한다면, 새로운 주소에 변수의 값과 함수가 저장되고 변수에는 새주소의 값이 저장된다

In [7]:
r = 5
area = 3.14 * r * r
print('넓이 :', area)

넓이 : 78.5

In [8]:
import numpy as np #numpy 라는 패키지를 np 라는 이름으로 사용
area = np.pi * r * r
print('넓이 : ', area)

넓이 :  78.53981633974483

In [9]:
print('area의 주소 : ', id(area))
print('area의 타입 : ', type(area))

area의 주소 :  2078794436368
area의 타입 :  <class 'float'>

In [10]:
area.is_integer()

False

In [12]:
area = 10
print('area의 주소 : ', id(area))
print('area의 타입 : ', type(area))

area의 주소 :  2080858898960
area의 타입 :  <class 'int'>

In [14]:
area = "파이썬"
print('area의 주소 : ', id(area))
print('area의 타입 : ', type(area))

area의 주소 :  2078831135024
area의 타입 :  <class 'str'>

## 1.2 변수(함수) 이름 규칙
- 문자로 시작
- 문자(특수문자는 _ 외에는 불가), 숫자, _로 변수명 작성
- 함수명은 변수 이름으로 가능하나 피한다 꼭 써야 한다면 str_식으로 사용한다(_를 사용하여 함수와의 충돌을 피한다)
- 파이썬 예약어(for, if, ...)는 변수명 사용불가
- 한글 변수는 꼭 필요시에만 사용 (비추)

In [27]:
이름 = '홍길동' #한글을 변수명으로 사용하는것은 비추
print(이름)

홍길동

In [28]:
for = 5

SyntaxError: invalid syntax (4011056779.py, line 1)

In [29]:
member.name = "홍길동"

NameError: name 'member' is not defined

In [31]:
# 숫자 : 정수 , 실수, 복소수(j)
i = 1+ 3j #복소수
print(type(i))

<class 'complex'>

In [32]:
isinstance(i, complex) # i변수가 complex 타입의 객체인지?

True

In [33]:
isinstance(i, int) # i 변수가 int 타입의 객체인지?

False

## 1.3 다중 변수 선언

In [34]:
a = 10
b= 20

In [38]:
a, b = 10, 20
print(a,b)

10 20

In [ ]:
a, b = b, a+b #다중 변수 할당시 순차적 할당이 아니고, 일괄 동시 할당
print(a,b)

## 1.4 도움말

In [40]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [42]:
help() #help를 빠져나오기 : q / 결과 접기/펴기 : esc+o

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [ ]:
# 도움말 기능 : shift + tab 키

In [55]:
def add(x,y=0):
    '''
    매게변수(x,y) 2개를 받아 두자리 숫자로 만드는 함수
    x = 10의 자리수가 되고
    y = 1의 자리수가 됨 (default값 0)
    '''
    return x*10+y

In [56]:
add(3,4)

34

# 2절. 화면 i/o

In [58]:
#input() : 사용자로부터 값을 입력받기 위한 함수. 입력값은 문자(str)로 받음
first = input()
print(first)

아무거나
아무거나

In [59]:
first = input("첫번째 숫자는?")
second = input("두번째 숫자는?")

첫번째 숫자는?5
두번째 숫자는?90

In [60]:
print(first, second)

5 90

In [61]:
print("두 수의 합은 : ", first+second)

두 수의 합은 :  590

In [62]:
first = int(input("첫번째 숫자는?"))
second = int(input("두번째 숫자는?"))

첫번째 숫자는?8
두번째 숫자는?2

In [63]:
print("두 수의 합은 : ", first+second)

두 수의 합은 :  10

In [67]:
print('first', first, 'second', second, sep=' - ', end='\t')
print('Hello', 'Python', sep = ' ')

first - 8 - second - 2	Hello Python

# 3절. 기본 자료형
- 자료형 : 변수가 가져야 할 값의 형식. 자료형의 따라 값의 크기와 저장 방식 달라짐
- 자료형에 따라 수행할 수 있는 명령어들이 달라짐
    - `숫자` : int, float(소수점 4.0), complex(허수부 j)
    - `문자` : str ("", '')
    - `논리` : bool(True/False)
    
## 3.1 숫자형

In [82]:
import sys
print (sys.maxsize) # 정수의 최대값 : 2**63 - 1

9223372036854775807

In [83]:
2**63 - 1

9223372036854775807

In [89]:
i = sys.maxsize + 1000000000000000000000000
print(i)
print(type(i))

#int에는 정수의 최대값보다 큰 값 역시 들어간다 (무한대로)

1000009223372036854775807
<class 'int'>

In [91]:
#f = 0.000000000000000000000012
f = 1.2e-24 # 지수형 1.2 * 10의 -24승
print(f)
b = 1.2e20 # 지수형 1.2*10의 20승
print(b)

1.2e-24
1.2e+20

In [92]:
#파이썬에서는 /의 결과는 무조건 실수
f = 3/2
print('f=',f)

f= 1.5

In [94]:
# 자바나 C, C++처럼 정수/정수 결과를 정수로
f = int(3/2) # int() : int로 형변환(내림)
print('f=',f)

f = 3//2 #몫 연산자
print('f=', f)

f= 1
f= 1

## 3.2 문자형
겹따옴표("~")나 홑따옴표('-') 이용

In [96]:
#name = '홍길동\'짱\''   #홍길동'짱'
name = "홍길동'짱'"
address = '서울시 관악구 "신림"동' # 서울시 관악구 "신림"동
print(name, address)

홍길동'짱' 서울시 관악구 "신림"동

In [98]:
# escape 문자(탈출 문자) : \n, \t, ....
text = "여러줄\t짜리 내용을 저장\n줄바꿈 문자를 쓰면 여러줄\n줄바꿈"
print(text)

여러줄	짜리 내용을 저장
줄바꿈 문자를 쓰면 여러줄
줄바꿈

In [100]:
text = '''여러줄따리\t 내용을 저장
줄바꿈 문자를 쓰면 여러줄
줄바꿈
'''
print(text)

여러줄따리	 내용을 저장
줄바꿈 문자를 쓰면 여러줄
줄바꿈

### ※ 문자열 연산(+, *)

In [102]:
"""
    여러 줄 주석 용도
    2025.09.12 문장열 연산 by 아무개
"""
name1 = "홍길동"
name2 = "동해번쩍"
print(name1 + name2)
print(name1, name2)

홍길동동해번쩍
홍길동 동해번쩍

In [103]:
print (name1 * 3)

홍길동홍길동홍길동

### ※ raw 데이터
- 용도 :정규표현식 이용, 디렉토리 경로를 표현시 이용

In [105]:
#raw 데이터 : 데이터 처리시 이스케이프 문자(탈출문자)를 그대로 처리
print(r"Hello\nWorld")

Hello\nWorld

### 정규표현시 (regex)
    1. 참조 : https://ko.wikipedia.org/wiki/정규표현식 위키백과
    2. 간략문법
        \d (숫자와 매치 [0-9])
        \D (숫자가 아닌 것)
        \w (영문자나 숫자나 _ [_a-zA-Z0-9]와 동일)
        \W (영문자나 숫자나 _가 아닌 문자)
        . (문자)
        \. (.)
        \- (-)
        {2,} (2회 이상 반복)
        {2,4} (2~4회 반복)
        ? (0번 또는 1회 반복)
        * (0번 이상 반복)
        + (1번 이상 반복)
    3. 정규표현식 연습장 https://regexr.com/
        ex1. 전화번호 : 02 888 7777 / 028887777 / 010-9999-9999 / 010.9999.9999 / 02)999-9999
            => \d{2,3}[)\- \.]?\d{3,4}[\- \.]?\d{4}
        ex2. 이메일 : abc123@naver.com / abc123@sns.co.kr
            => \w+@\w+(\.\w+){1,2}
        ex3. 주민번호: 123456-1234567
            => \d{2}(0[1-9]|1[0-2])(0[1-9]|[12]\d|3[0-1])\-[1-4]\d{6}
    4. 소스구현

In [112]:
import re
data = "이름:홍길동, 주소:서울, 전화:02-888-8888,\
전화번호:010-9999-9999, 특징:동해번쩍서해번쩍\
혈액형:Bㅋㅋ ㅋㅋzz"
print(data)

이름:홍길동, 주소:서울, 전화:02-888-8888,전화번호:010-9999-9999, 특징:동해번쩍서해번쩍혈액형:Bㅋㅋ ㅋㅋzz

In [109]:
# 정규표현식 처리에서는 raw 데이터 처리를 하지 않아도 실행은 되나
# 실수를 줄이고 가독성을 죽이는 용도로 raw 데이터 처리를 사용
tel_pattern = r'\d{2,3}[)\- \.]?\d{3,4}[\- \.]?\d{4}'
#해당 패턴을 다 찾아줌. 없으면 빈 list
tels = re.findall(tel_pattern, data)
print(tels)

['02-888-8888', '010-9999-9999']

In [110]:
email_pattern = r'\w+@\w+(\.\w+){1,2}'
emails = re.findall(email_pattern, data)
print(emails)

[]

In [113]:
# 정규표현식 패턴과 처음 일치되는 것을 찾아줘
firstTel = re.search(tel_pattern, data)
firstTel

In [115]:
print(data[18:29]) #문자열 슬라이싱
print(firstTel.group(0))

02-888-8888
02-888-8888

In [116]:
tel_pattern = r'(\d{2,3})[)\- \.]?(\d{3,4})[\- \.]?(\d{4})'
firstPhone = re.search(tel_pattern, data)
firstPhone

In [117]:
print('전체 전화번호 : ',firstPhone.group(0))
print('국번 : ',firstPhone.group(1))
print('중간번호 : ',firstPhone.group(2))
print('끝번호 : ',firstPhone.group(3))

전체 전화번호 :  02-888-8888
국번 :  02
중간번호 :  888
끝번호 :  8888

In [119]:
# data에서 특정한 데이터 없애기
re.sub(r'[^가-힣0-9A-Z\s]', ' ', data)

'이름 홍길동  주소 서울  전화 02 888 8888 전화번호 010 9999 9999  특징 동해번쩍서해번쩍혈액형 B       '

# Quiz
### 1. 정수를 입력받아 짝수인지 홀수인지 여부를 출력

In [71]:
num = int(input("정수를 입력해주세요: "))
if (num % 2):
    print("홀수입니다")
else:
    print("짝수입니다")

정수를 입력해주세요: 5
홀수입니다

### 2. 정수를 입력받아 5의 배수인지 여부를 출력

In [74]:
num = int(input("정수를 입력해주세요: "))
if (num%5):
    print("5의 배수가 아닙니다")
else:
    print("5의 배수입니다")

정수를 입력해주세요: 123
5의 배수가 아닙니다

### 국, 영, 수 점수를 입력받아 다음셀에서 다음과 같이 출력하도록 구현하시오
<font size='3'>국어: 99 \t 영어: 100 \t 수학: 99\
총점:298 \t 평균: 99.3</font>

In [77]:
kor = input("국어 점수를 입력해주세요: ")
eng = input("영어 점수를 입력해주세요: ")
math = input("수학 점수를 입력해주세요: ")
total = int(kor) + int(eng) + int(math)
average = total/3
print("국어: "+kor, "영어: "+eng, "수학: "+math, sep="\t")
print("총점: "+str(total), "평균: {:0.1f}".format(average), sep="\t")

국어 점수를 입력해주세요: 100
영어 점수를 입력해주세요: 99
수학 점수를 입력해주세요: 99
국어: 100	영어: 99	수학: 99
총점: 298	평균: 99.3

# 연습문제
### 1. 이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화하세요 [출력형식: 홍길동님의 나이는 23살입니다]

In [15]:
name = "홍길동"
age = 23

print ("{}님의 나이는 {}입니다".format(name,age))

홍길동님의 나이는 23입니다

### 2. 두 정수를 입력받아 두 수의 덧셈, 뺄셈, 곱셈, 나눗셈, 몫, 나머지를 출력하세요

In [46]:
input_1 = int(input("첫번째 정수를 알려주세요: "))
input_2 = int(input("두번째 정수를 알려주세요: "))
print("덧셈 : ", input_1+input_2)
print("뺄셈 : ", input_1-input_2)
print("곱셈 : ", input_1*input_2)
if (input_2 == 0):
    print("나눗셈: 분모(두번째 정수)가 0입니다 다른 수를 선택해주세요")
else :
    print("나눗셈: ", input_1/input_2)
    print("몫 : ", input_1//input_2)
    print("나머지 : ", input_1 % input_2)

첫번째 정수를 알려주세요: 30
두번째 정수를 알려주세요: 15
덧셈 :  45
뺄셈 :  15
곱셈 :  450
나눗셈:  2.0
몫 :  2
나머지 :  0

### 3. 문자열의 분리하기와 합치기 기능을 이용하여 'Hello World'가 할당된 변수를 이용하여 'World Hello'로 출력하세요

In [64]:
string = "Hello World"
hello, world = string.split()
print(world, hello)

World Hello

### 4. x='abcdef'를 이용하여 'bcdefa'로 출력하세요 (문자 슬라이싱이용).

In [22]:
x='abcdef'
print(x[1:]+x[0])

bcdefa

### 5. x='abcdef'를 이용하여 'fedcba'로 출력하세요

In [26]:
x='abcdef'
print(x[::-1])

fedcba

### 6. 오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요. 화씨 돈도는 소수점이 있을 경우만 두번째 자리까지 출력되고, 소수점 이하 값이 없는 경우 소수점을 출력 하지 않도록 합니다. (다음은 섭씨와 화씨의 변환 공식입니다. C는 섭씨, F는 화씨)
- C = (F-32) / 1.8
- F = (C*1.8) + 3.2

In [54]:
C = float(input("오늘의 섭씨온도를 알려주세요: "))
F = (C*1.8) + 3.2
print("오늘의 섭씨 온도는: {:0.2f}, 화씨 온도는: {:0.2f}".format(C, F))

오늘의 섭씨온도를 알려주세요: 30
오늘의 섭씨 온도는: 30.00, 화씨 온도는: 57.20

### 7. 다음 중 변수 선언으로 잘못된 것을 모두 고르시오?
<font size='4'>1. for\
2. 10th\
3. Student.name\
4. _1234 </font>

<font size='3'> 1,2,3\
for : 예약어는 변수 이름으로 불가\
10th : 변수는 항상 문자로 시작\
Student.name : .은 변수 이름으로 사용 불가
</font>

### 8. 다음의 코드의 실행 결과는?

<font size='4'> text = "Seoul A001 - programming with python"\
print(text[:4]+text[-1]+text.split()[0])\
print(text[:4], text[-1], text.split()[0]) </font>

<font size="3">SeounSeoul\
Seou n Seoul</font>

### 9. 다음 중 파이썬 3.x 버전에서 연산식과 그 결과의 출력이 잘못된 것은?
<font size='4'>1. 수식 8//2 결과 4\
2. 수식 8/2 결과 4\
3. 수식 8 **2 결과 64 </font>

<font size="3">2번 나눗셈의 경우 float이 결과값으로 출력되기 때문에 4가 아니라 4.0이 올바른 출력값입니다</font>

### 10. 아래 프로그램의 결과는?
<font size='4'>x = 5\
y = "John"\
print (x+y) </font>

<font size="3">정수와 문자의 덧셈을 하려하였기에 Error가 나옵니다</font>

### 11. split() 함수를 이용하여 str_의 값 중 " 나라 "를 출력하는 프로그램을 완성하시오
<font size='4'>str_ = "우리 나라 대한 민국" </font>

In [78]:
str_="우리 나라 대한 민국"
print(str_.split()[1])

나라